<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="ui action input">
        <form class="ui form" {{action 'addBbl' bbl on='submit'}}>
          <div class="two fields">
            <div class="field">
              {{input type="text" name="bbl" value=bbl placeholder="BBL" maxlength=10 enter="addBbl"}}
            </div>
            <div class="field">
              <button type="submit" class="ui button">Add</button>
            </div>
          </div>

          <div class="ui error message">
          </div>
        </form>
      </div>
    </div>
  </div>

  {{#if model.bbls}}
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui horizontal list">
          <div class="ui basic large label">{{model.borough}}</div>
          {{#each model.bbls as |bbl|}}
            <div class="item">
              <div class="ui label">
                <a href="https://zola.planning.nyc.gov/bbl/{{bbl}}" target="_blank">{{bbl}}</a> <i class="close link icon" {{action 'removeBbl' bbl}}></i>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
