<div class="ui header attached top">
  Minimum Number of Residential Units that Trigger Detailed Analyses {{ui-popup 
    tagName="i"
    class="no-size book icon"
    content="Table 6-1: Community Facility Thresholds for Detailed Analyses"
    style="font-size: 1em;"
  }}
</div>

<table class="ui attached bottom table">
  <thead>
    <tr><th></th>
    <th>Elementary/<br />Intermediate</th>
    <th>High School</th>
  </tr></thead>
  <tbody>
    {{#each ceqrManual.minResidentialUnits as |boro|}}
      <tr class={{if (eq boro.name project.borough) "active"}}>
        <td>{{boro.name}}</td>
        <td>{{boro.es}}</td>
        <td>{{boro.hs}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>