<div class="ui center aligned grid">
  <div class="row login">

    <div class="twelve wide column left aligned">
      <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
          <div class="column">
            <form class="ui form {{if error "error"}}" {{action "logIn" login on="submit"}}>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  {{input type="text" name="email" value=login.email placeholder="Email"}}
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  {{input 
                    type="password"
                    name="password"
                    value=login.password
                    placeholder="Password"
                  }}
                </div>
              </div>
              <button type="submit" class="ui blue submit button">Login</button>

              <div class="ui left error message">
                <div class="header">Error</div>
                <p>{{error.message}}</p>
              </div>
            </form>
          </div>
          <div class="middle aligned column">
            <div class="ui message warning">
              <p>Currently only New York City employees and pre-approved applicant teams can create accounts.</p>
            </div>

            {{#link-to "signup" class="ui big button"}}
              <i class="signup icon"></i>
              Sign Up
            {{/link-to}}
          </div>
        </div>
        <div class="ui vertical divider">
          Or
        </div>
      </div>
    </div>
  </div>
</div>

