<div class="ui center aligned grid login">
  <div class="row">
    <div class="six wide column">
      <h2 class="ui blue header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
        
      <div
        class="ui segment"
      >
        <form 
          class="ui large form login {{if error "error"}}" {{action "logIn" login on="submit"}}
        >
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{input type="text" name="email" value=login.email placeholder="Email"}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input 
                type="password"
                name="password"
                value=login.password
                placeholder="Password"
              }}
            </div>
          </div>

          <div class="ui left error message">
            <div class="header">Error</div>
            <p>{{error.message}}</p>
          </div>

          <button type="submit" class="ui fluid large blue submit button">Log In</button>
        </form>
      </div>
    </div>

    <div class="six wide column">
      <h2 class="ui teal header">
        <div class="content">
          Create an account
        </div>
      </h2>
      <div class="ui secondary segment">
        <div class="ui message">
          <p>Currently, only NYC employees and pre-approved applicant teams can create accounts.</p>
        </div>
        <form
          class="ui large form signup {{if error "error"}}" {{action "createUser" newUser on="submit"}}>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{input type="text" name="email" value=newUser.email placeholder="Email"}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input 
                type="password"
                name="password"
                value=newUser.password
                placeholder="Password"
              }}
            </div>
          </div>

          <div class="ui left error message">
            <div class="header">Error</div>
            <p>{{error.message}}</p>
          </div>

          <button type="submit" class="ui fluid large teal submit button">Create Account</button> 
        </form>
      </div>
    </div>
  </div>
</div>