{{#mapbox-gl 
  id='study-area-map' mapLoaded=(action 'handleMapLoad') initOptions=(hash
    style='mapbox://styles/mapbox/light-v9'
    zoom=9.2
    center=(array -74 40.7071266)
  ) as |map| }}

  <div class="map-ui">
    {{ui-checkbox label="Show" checked=showZones onChange=(action (mut showZones))}}
    {{#ui-dropdown selected="es" onChange=(action (mut schoolZone))}}
      <div class="default text"></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div data-value="es" class="item">
          Elementary School Zones
        </div>
        <div data-value="is" class="item">
          Intermediate School Zones
        </div>
        <div data-value="hs" class="item">
          High School Zones
        </div>
      </div>
    {{/ui-dropdown}}
  </div>

  {{#map.source options=(hash type='geojson' data=(await mapdata.subdistrictGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='subdistricts'
      type='fill'
      paint=(hash fill-color='#ffffbf' fill-opacity=0.6))
    }}
  {{/map.source}}

  {{#if showZones}}
    {{#if (eq schoolZone 'es')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.esZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='es-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}

    {{#if (eq schoolZone 'is')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.isZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='ms-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}

    {{#if (eq schoolZone 'hs')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.hsZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='hs-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}
  {{/if}}

  {{#map.source options=(hash type='geojson' data=(await mapdata.bblGeojson)) as |source|}}
    {{source.layer layer=(hash 
      id='bbls'
      type='line'
      paint=(hash line-color='#d7191c' line-width=4 line-blur=1)
    )}}
  {{/map.source}}

  {{#if project.lcgms}}
    {{#map.source options=(hash type='geojson' data=(await mapdata.lcgmsGeojson)) as |source|}}
      {{source.layer layer=(hash 
        id='lcgms'
        type='circle'
        paint=(hash circle-color='#2b83ba')
      )}}
    {{/map.source}}
  {{/if}}

  {{#map.source options=(hash type='geojson' data=(await mapdata.bluebookGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='bluebook'
      type='circle'
      paint=(hash circle-color='#2b83ba'))
    }}
  {{/map.source}}
{{/mapbox-gl}}
