<div class="ui grid">
  <div class="ten wide column">
    <div class="ui segments">
      <div class="ui grey segment">
        <form class="ui form">
          <div class="field">
            <div class="two fields">
              <div class="twelve wide field">
                <label>Project Name</label>
                {{input type="text" name="name" value=project.name placeholder="Project Name"}}
              </div>
              <div class="six wide field">
                <label>CEQR Number</label>
                {{input type="text" name="ceqr_number" value=project.ceqr_number placeholder="CEQR Number"}}
              </div>
              <div class="four wide field">
                <label>Est. Build Year</label>

                {{#ui-dropdown class="selection" selected=project.buildYear onChange=(action (mut project.buildYear))}}
                  <div class="default text">Build Year</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each buildYearRange as |year|}}
                      <div data-value={{year}} class="item">{{year}}</div>
                    {{/each}}
                  </div>
                {{/ui-dropdown}}
              </div>
            </div>
          </div>
        </form>

        {{bbl-list model=project}}
      </div>

      <div class="ui grey segment">
        {{total-unit-count model=project}}
      </div>

      <div class="ui grey segment">
        <h4>Does this project require a detailed analysis of Direct Effect?</h4>

        <p>Would the project directly eliminate, displace, or alter public or publicly funded educational facilities?</p>

        <div class="ui buttons">
          <button class="ui {{if project.directEffect "blue" "grey basic"}} button" onclick={{action "directEffectTrue"}}>Yes</button>
          <button class="ui {{if project.directEffect "grey basic" "blue"}} button" onclick={{action "directEffectFalse"}}>No</button>
        </div>
      </div>
    </div>
    
    {{#if project.isInvalid}}
      <div class="ui error message">
        <ul class="list">
          {{#each project.errors as |errorSet|}}
            {{#each errorSet.validation as |error|}}
              <li>{{error}}</li>
            {{/each}}
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  {{!-- <div class="six wide column">
    <div class="title">
      <h4>210. Direct Effects</h4>
    </div>
    <div class="content">
      <p>If a project would physically alter a community facility, whether by displacement of the facility or other physical
      change, this "direct" effect triggers the need to assess the service delivery of the facility and the potential effect
      that the physical change may have on that service delivery. Temporary direct effects should also be considered
      (for example, the temporary closing of a facility during a phase of construction).</p>
    </div>
  </div> --}}

  {{#if project.isNew}}
    <div class="sixteen wide column">
      <button class="ui primary button" {{action "save"}}>
        Create Project <i class="arrow right icon"></i>
      </button>
    </div>
  {{else}}
    <div class="sixteen wide column">
      {{#link-to "project.show.schools-capacity.analysis-threshold" class="ui button"}}
        Back
      {{/link-to}}
      
      <button class="ui primary button" {{action "save"}}>
        Save Project
      </button>
    </div>
  {{/if}}
</div>
