{{#mapbox-gl 
  id='study-area-map' mapLoaded=(action 'handleMapLoad') initOptions=(hash
    style='mapbox://styles/mapbox/light-v9'
    zoom=9.2
    center=(array -74 40.7071266)
  ) as |map| }}

  <div class="map-ui">
    <div class="zone-dropdown">
      {{ui-checkbox label="Show" checked=showZones onChange=(action (mut showZones))}}
      {{#ui-dropdown selected="es" onChange=(action (mut schoolZone))}}
        <div class="default text"></div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div data-value="es" class="item">
            Elementary School Zones
          </div>
          <div data-value="is" class="item">
            Intermediate School Zones
          </div>
          <div data-value="hs" class="item">
            High School Zones
          </div>
        </div>
      {{/ui-dropdown}}
    </div>

    {{#if zoneName}}
      <div class="zone-text">
        {{zoneName}}
      </div>
    {{/if}}
  </div>

  <div class="map-legend">
    <div class="ui list">
      <div class="item">
        <i class="square icon" style="color: #d7191c;"></i>
        <div class="content">Project Area</div>
      </div>
      <div class="item">
        <i class="square icon" style="color: #ffffbf;"></i>
        <div class="content">Study Area (School Subdistrict)</div>
      </div>
      <div class="ui divider" style="margin: 0.5rem 0rem"></div>
      <div class="item">
        <i class="circle icon" style="color: #7fcdbb;"></i>
        <div class="content">Primary School</div>
      </div>
      <div class="item">
        <i class="circle icon" style="color: #41b6c4;"></i>
        <div class="content">Primary/Intermediate School</div>
      </div>
      <div class="item">
        <i class="circle icon" style="color: #1d91c0;"></i>
        <div class="content">Intermediate School</div>
      </div>
      <div class="item">
        <i class="circle icon" style="color: #225ea8;"></i>
        <div class="content">Intermediate/High School</div>
      </div>
      <div class="item">
        <i class="circle icon" style="color: #0c2c84;"></i>
        <div class="content">High School</div>
      </div>
    </div>
  </div>

  {{#map.source options=(hash type='geojson' data=(await mapdata.subdistrictGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='subdistricts'
      type='fill'
      paint=(hash fill-color='#ffffbf' fill-opacity=0.6))
    }}
  {{/map.source}}

  {{!-- Map Layers for Hovering --}}
  {{#map.source options=(hash type='geojson' data=(await mapdata.esZonesGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='es-zones-hover'
      type='fill'
      paint=(hash fill-opacity=0)
    )
    }}
  {{/map.source}}
  {{#map.source options=(hash type='geojson' data=(await mapdata.isZonesGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='is-zones-hover'
      type='fill'
      paint=(hash fill-opacity=0)
    )
    }}
  {{/map.source}}
  {{#map.source options=(hash type='geojson' data=(await mapdata.hsZonesGeojson)) as |source|}}
    {{source.layer layer=(hash
      id='hs-zones-hover'
      type='fill'
      paint=(hash fill-opacity=0)
    )
    }}
  {{/map.source}}
  {{map.on 'mousemove' 'es-zones-hover' (action 'zoneHover')}}
  {{map.on 'mousemove' 'is-zones-hover' (action 'zoneHover')}}
  {{map.on 'mousemove' 'hs-zones-hover' (action 'zoneHover')}}

  {{map.on 'mouseleave' 'es-zones-hover' (action 'zoneUnhover')}}
  {{map.on 'mouseleave' 'is-zones-hover' (action 'zoneUnhover')}}
  {{map.on 'mouseleave' 'hs-zones-hover' (action 'zoneUnhover')}}

  {{#if showZones}}
    {{#if (eq schoolZone 'es')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.esZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='es-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}

    {{#if (eq schoolZone 'is')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.isZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='ms-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}

    {{#if (eq schoolZone 'hs')}}
      {{#map.source options=(hash type='geojson' data=(await mapdata.hsZonesGeojson)) as |source|}}
        {{source.layer layer=(hash
          id='hs-zones'
          type='line'
          paint=(hash
            line-color='#000000'
            line-width=2
            line-dasharray=(array 1 1)
          ))
        }}
      {{/map.source}}
    {{/if}}
  {{/if}}

  {{#map.source options=(hash type='geojson' data=(await mapdata.bblGeojson)) as |source|}}
    {{source.layer layer=(hash 
      id='bbls'
      type='line'
      paint=(hash line-color='#d7191c' line-width=4 line-blur=1)
    )}}
  {{/map.source}}

  {{#if project.lcgmsCartoIds}}
    {{#map.source options=(hash type='geojson' data=(await mapdata.lcgmsGeojson)) as |source|}}
      {{source.layer layer=(hash 
        id='lcgms'
        type='circle'
        paint=(hash circle-color='#2b83ba')
      )}}
    {{/map.source}}
  {{/if}}

  {{#map.source options=(hash type='geojson' data=(await mapdata.bluebookGeojson)) as |source|}}
    {{source.layer layer=(hash
        id='bluebook-hover'
        type='circle'
        paint=(hash circle-color='#A0A0A0' circle-radius=12 circle-opacity=0.7)
        filter=(array "==" (array "get" "cartodb_id") 0)
      )
    }}

    {{source.layer layer=(hash
      id='bluebook'
      type='circle'
      paint=(hash 
        circle-color=(array "case"
          (array "==" (array "get" "level") "PS") "#7fcdbb"
          (array "==" (array "get" "level") "PSIS") "#41b6c4"
          (array "==" (array "get" "level") "IS") "#1d91c0"
          (array "==" (array "get" "level") "ISHS") "#225ea8"
          (array "==" (array "get" "level") "HS") "#0c2c84"
          "#333333"
        )
      ))
    }}
  {{/map.source}}

  {{map.on 'mouseenter' 'bluebook' (action 'schoolHover')}}
  {{map.on 'mouseleave' 'bluebook' (action 'schoolUnhover')}}
{{/mapbox-gl}}
