<div class="ui blue segment">
  <h4 class="ui header">
    <i class="circular small users icon"></i>
    <div class="content">
      Project Editors
    </div>
  </h4>
  
  <div class="ui divider"></div>

  <div class="ui relaxed divided list">
    <div class="item">          
      <div class="middle aligned content">
        {{currentUser.user.email}} (you)
      </div>
    </div>
    
    {{#each projectEditors as |user|}}
      <div class="item">
        <div class="right floated content">
          <button class="ui small compact red button" {{action "removeUser" user}}>Remove</button>
        </div>
        
        <div class="middle aligned content">
          {{user.email}}
        </div>
      </div>
    {{/each}}

    <div class="item">
      <form class="ui form">
        <div class="fields">
          <div class="twelve wide field">
            {{input
              type="text"
              name="email"
              value=email
              placeholder="Email"
            }}
          </div>

          <div class="four wide field">
            <button class="ui blue button" {{action "addUser" email}}>Add</button>
          </div>
        </div>
      </form>

      {{#if error}}
        <div class="ui error message">
          {{error.message}}
        </div>
      {{/if}}
    </div>
  </div>
  
</div>