{{#if project.lcgms}}
  <div class="ui attached segment">
    <div class="ui orange ribbon label">Needs Input</div> <h3 class="action-title">Schools opened in 2017-18 school year not captured in Blue Book</h3>
  </div>
  
  <table class="ui celled attached table">
    <thead>
      <tr>
        <th class="one wide">Org. ID</th>
        <th class="five wide">School Name</th>
        <th class="five wide">Address</th>
        <th class="one wide">Grades<br />Served</th>
        <th class="one wide">Enrollment</th>
        <th class="one wide">Target<br />Capacity</th>
        <th class="one wide">Available<br />Seats</th>
        <th class="one wide">Utilization (%)</th>
      </tr>
    </thead>

    <tbody>
      {{#each project.lcgms as |b|}}
        <tr class="{{b.type}}">
          <td>{{b.org_id}}</td>
          <td>
            <i class="circle icon"></i>
            {{b.name}}
            {{#if (not-eq b.name b.bldg_name)}}
              <br /><em>{{b.bldg_name}}</em>
            {{/if}}
          </td>
          <td>{{b.address}}</td>
          <td>{{b.grades}}</td>
          <td class="warning">
            <div class="ui input transparent edit-cell">
              {{input type="number" value=b.enroll placeholder="0"}}
            </div>
          </td>
          <td class="warning">
            <div class="ui input transparent warning edit-cell">
              {{input type="number" value=b.capacity placeholder="0"}}
            </div>
          </td>
          <td>{{b.seats}}</td>
          <td>{{if b.excluded "N/A" (percentage b.utilization)}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="ui clearing attached segment">
    <div class="ui right floated button compact primary" {{action 'save'}}>Save</div>
  </div>

  <div class="ui bottom attached icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header"><a target="_blank" href="https://data.cityofnewyork.us/Education/LCGMS-DOE-School-Information-Report/3bkj-34v2">DOE School Information Report (LCGMS) <i class="external alternate icon"></i></a></div>
      <p>
      The Department of Education does not include schools built in the current year in Bluebook. For such schools,
      data from the Department of Education's School Information report is used.
      </p>
    </div>
  </div>
{{else}}
  <div class="ui attached segment">
    <div class="ui green ribbon label">Complete</div> <h3 class="action-title">Schools Opened in 2017-18 school year not captured in Blue Book</h3>
  </div>

  <div class="ui secondary bottom attached segment">
    There are no schools needing further information in your current study area.
  </div>
{{/if}}

