<h3>Estimated No-Action Primary and Intermediate School Enrollment, Capacity and Utilization</h3>
<table class="ui collapsing celled table">
  <thead>
    <tr>
      <th>Study Area</th>
      <th>Projected {{project.buildYear}} Enrollment</th>
      <th>Students Introducted by No-Action Residential Development</th>
      <th>Total No-Action Enrollment</th>
      <th>Capacity</th>
      <th>Available Seats</th>
      <th>Utilization (%)</th>
    </tr>
    <tr>
      <th colspan=7>Primary Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each (await analysis.psNoActionTotals) as |p|}}
      <tr>
        <td>{{p.area}}</td>
        <td>{{p.psCurrentEnroll}}</td>
        <td>{{p.psNewStudents}}</td>
        <td>{{p.psTotalEnroll}}</td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>

  <thead>
    <tr>
      <th colspan=7>Intermediate Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each (await analysis.psNoActionTotals) as |p|}}
      <tr>
        <td>{{p.area}}</td>
        <td>{{p.isCurrentEnroll}}</td>
        <td>{{p.isNewStudents}}</td>
        <td>{{p.isTotalEnroll}}</td>
        <td></td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>

