{{!-- 
Get Mona to include correct grades served and citywide & alternative schools
 --}}

<div class="ui segment attached">
  <div class="ui secondary menu">
    <div class="ui simple dropdown item">
      <strong>{{sd.sdName}}</strong>
      <i class="dropdown icon"></i>

      <div class="menu">
        {{#each project.subdistricts as |sd|}}
          <a class="item" {{action 'setSdId' sd.id}}>{{sd.sdName}}</a>
        {{/each}}
      </div>

    </div>
    
    <a class="item {{if (eq activeSchoolsLevel 'ps') 'active'}}" {{action (mut activeSchoolsLevel) 'ps'}}>
      Primary Schools
    </a>
    <a class="item {{if (eq activeSchoolsLevel 'is') 'active'}}" {{action (mut activeSchoolsLevel) 'is'}}>
      Intermediate Schools
    </a>
  </div>
</div>

<table class="ui celled sortable table attached bottom">
  <thead>
    <tr>
      <th class="one wide">Org. ID</th>
      <th class="five wide">School Name</th>
      <th class="five wide">Address</th>
      <th class="one wide">Grades<br />Served</th>
      <th class="one wide">Enrollment</th>
      <th class="one wide">Target<br />Capacity</th>
      <th class="one wide">Available<br />Seats</th>
      <th class="one wide">Utilization (%)</th>
    </tr>
  </thead>

  <tbody>
    {{#each table.buildings as |b|}}
      <tr class={{b.type}}>
        <td>{{b.org_id}}</td>
        <td>
          <i class="circle icon"></i>
          {{b.name}}
          {{#if (not-eq b.name b.bldg_name)}}
            <br /><em>{{b.bldg_name}}</em>
          {{/if}}
        </td>
        <td>{{b.address}}</td>
        <td>{{b.grades}}</td>
        <td>{{b.enroll}}</td>
        <td>{{if b.excluded "N/A" b.capacity}}</td>
        <td>{{b.seats}}</td>
        <td>{{if b.excluded "N/A" (percentage b.utilization)}}</td>
      </tr>
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <th colspan="4"><em>Totals</em></th>
      <th>{{table.enrollmentTotal}}</th>
      <th>{{table.capacityTotal}}</th>
      <th>{{table.seatsTotal}}</th>
      <th>{{percentage table.utilizationTotal}}</th>
    </tr>
  </tfoot>
</table>
