<h3 class="ui teal segment">
  <div class="ui green ribbon label">Action 2</div>DOE Significant Utilitization Changes
</h3>

{{#if project.doeUtilChanges}}
  {{#each tables as |t|}}
    <div class="ui teal top attached segment"><h3>Building ID{{t.bldg_id}}</h3></div>
    
    <table class="ui attached celled table">
      <thead>
        <tr>
          <th class="six wide">School Name</th>
          <th class="five wide">Building Name</th>
          <th class="two wide">Level</th>
          <th class="three wide">Future Capacity</th>
        </tr>
      </thead>
      <tbody>
        {{#each t.buildings as |b|}}
          <tr>
            <td>{{b.name}}</td>
            <td>{{b.bldg_name}}</td>
            <td>{{b.level}}</td>
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.capacityFuture placeholder="0"}}
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h4 class="ui attached header">DOE Utilization Change Notices</h4>

    <table class="ui bottom attached celled table">
      <thead>
        <tr>
          <th class="two wide">At Scale Year</th>
          <th class="eleven wide">Proposal Title</th>
          <th class="three wide">Links</th>
        </tr>
      </thead>
      <tbody>
        {{#each t.doe_notices as |n|}}
          <tr>
            <td>{{n.at_scale_year}}</td>
            <td>{{n.title}}</td>
            <td>
              {{#if n.bup_url}}<a href={{n.bup_url}} target="_blank">BUP <i class="external alternate icon"></i></a>{{/if}}
              {{#if n.eis_url}}<a href={{n.eis_url}} target="_blank">EIS <i class="external alternate icon"></i></a>{{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{/each}}
{{/if}}