<h3 class="ui orange segment">
  <div class="ui green ribbon label">Action 1</div>SCA Schools Under Construction [from: SCA Construction]
</h3>

{{#each tables as |t|}}
  <table class="ui orange bottom celled table">
    <thead>
      <th colspan="8">District {{t.district}} - Subdistrict {{t.subdistrict}}</th>
      <tr>
        <th class="six wide">School Under Construction</th>
        <th class="two wide">Estimated Completion Date</th>
        <th class="two wide">Data as Of</th>
        <th class="one wide">Future Capacity</th>
        <th class="one wide">PS Capacity</th>
        <th class="one wide">IS Capacity</th>
        <th class="one wide">HS Capacity</th>
        <th class="two wide">Include?</th>
      </tr>
    </thead>
    <tbody>
      {{#each t.buildings as |b|}}
        <tr>
          <td>{{b.name}}</td>
          <td>{{moment-format b.planned_end_date 'MM/DD/YYYY'}}</td>
          <td>{{moment-format b.data_as_of 'MM/DD/YYYY'}}</td>
          <td>{{b.capacity}}</td>
          <td>
            <div class="ui input transparent edit-cell">
              {{input type="number" value=b.ps_capacity placeholder="0"}}
            </div>
          </td>
          <td>
            <div class="ui input transparent edit-cell">
              {{input type="number" value=b.is_capacity placeholder="0"}}
            </div>
          </td>
          <td>
            <div class="ui input transparent edit-cell">
              {{input type="number" value=b.hs_capacity placeholder="0"}}
            </div>
          </td>
          <td>
            {{ui-checkbox checked=b.includeInCapacity onChange=(action (mut b.includeInCapacity))}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}