{{!-- 
Get Mona to include correct grades served and citywide & alternative schools
 --}}

<div class="ui segment attached">
  <div class="ui secondary menu">
    <div class="ui simple dropdown item">
      <strong>{{sd.sdName}}</strong>
      <i class="dropdown icon"></i>

      <div class="menu">
        {{#each project.subdistricts as |sd|}}
          <a class="item" {{action 'setSdId' sd.id}}>{{sd.sdName}}</a>
        {{/each}}
      </div>

    </div>
    
    <a class="item {{if (eq activeSchoolsLevel 'ps') 'active'}}" {{action (mut activeSchoolsLevel) 'ps'}}>
      Primary Schools
    </a>
    <a class="item {{if (eq activeSchoolsLevel 'is') 'active'}}" {{action (mut activeSchoolsLevel) 'is'}}>
      Intermediate Schools
    </a>
    <div class="ui divider"></div>
    <div class="right menu">
      <a class="item {{if (eq activeSchoolsLevel 'hs') 'active'}}" {{action (mut activeSchoolsLevel) 'hs'}}>
        High Schools ({{project.borough}})
      </a>
    </div>

  </div>
</div>

<table class="ui celled sortable table attached bottom row-highlight">
  <thead>
    <tr>
      <th class="one wide">Org. ID</th>
      <th class="one wide">Bldg. ID</th>
      <th class="five wide">School Name</th>
      <th class="four wide">Address</th>
      <th class="one wide">Grades<br />Served</th>
      <th class="one wide">Enrollment</th>
      <th class="one wide">Target<br />Capacity</th>
      <th class="one wide">Available<br />Seats</th>
      <th class="one wide">Utilization (%)</th>
    </tr>
  </thead>

  <tbody>
    {{#each buildings as |b|}}
      {{#tr-hover class=b.grades source='bluebook' id=b.cartodb_id}}
        <td>{{b.org_id}}</td>
        <td>{{b.bldg_id}}</td>
        <td>
          <i class="circle icon"></i>
          {{b.name}}
          {{#if (not-eq b.name b.bldg_name)}}
            <br /><em>{{b.bldg_name}}</em>
          {{/if}}
        </td>
        <td>{{b.address}}</td>
        <td>{{b.grades}}</td>
        <td>{{b.enroll}}</td>
        
        {{#if b.excluded}}
          <td class="warning" data-tooltip="Capacity from transportable class room units and mini-schools are excluded from analysis" data-inverted=""><i class="attention icon"></i> N/A</td>
        {{else}}
          <td>{{b.capacity}}</td>
        {{/if}}
        
        <td data-sort-value={{b.seats}}>{{b.seats}}</td>
        
        {{#if b.excluded}}
          <td data-sort-value={{b.utilization}} class="warning" data-tooltip="Capacity from transportable class room units and mini-schools are excluded from analysis" data-inverted=""><i class="attention icon"></i> N/A</td>
        {{else}}
          <td data-sort-value={{b.utilization}}>{{percentage b.utilization}}</td>
        {{/if}}
      {{/tr-hover}}
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <th colspan="5"><em>Totals ({{sd.sdName}})</em></th>
      <th>{{table.enrollmentTotal}}</th>
      <th>{{table.capacityTotal}}</th>
      <th>{{table.seatsTotal}}</th>
      <th>{{percentage table.utilizationTotal}}</th>
    </tr>
    {{#if project.multiSubdistrict}}
      <tr>
        <th colspan="5"><em>Totals across study area</em></th>
        <th>{{table.enrollmentMetaTotal}}</th>
        <th>{{table.capacityMetaTotal}}</th>
        <th>{{table.seatsMetaTotal}}</th>
        <th>{{percentage table.utilizationMetaTotal}}</th>
      </tr>
    {{/if}}
  </tfoot>
</table>
