<table class="ui definition table">
  <thead>
    <tr><th></th>
    <th>Elementary<br />level per unit<br />(Age 4-10)</th>
    <th>Middle School<br />level per unit<br />(Age 11-13)</th>
    <th>High School<br />level per unit<br />(Age 14-17)</th>
  </tr></thead>
  <tbody>
    {{#each ceqr-manual.studentMultipliers as |boro|}}
      <tr class="{{boro.name}} {{if (eq boro.name model.borough) "active"}}">
        <td>{{boro.name}}</td>
        <td>{{boro.es}}</td>
        <td>{{boro.ms}}</td>
        <td>{{boro.hs}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>