<table class="ui collapsing celled table">
  <thead>
    <tr>
      <th class="two wide"></th>
      <th class="two wide">Units for Analysis</th>
      <th class="two wide">Public school students per unit</th>
      <th class="three wide" colspan=2>Estimated Number<br />of Students</th>
      <th class="three wide">Threshold for triggering detailed analysis</th>
      <th>Triggers detailed analysis</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Elementary</td>
      {{#td-hover rowspan="3" payload=(hash name='housingFromDev')}}{{project.netUnits}}{{/td-hover}}
      {{!-- <td rowspan="3">{{project.netUnits}}</td> --}}
      <td class="math--left"><i class="times circle icon"></i> {{project.studentMultipliers.ps}}</td>
      <td>{{project.estEsStudents}}</td>
      <td class={{if project.esEffect "warning"}} rowspan="2">
        {{#if project.esEffect}}
          {{#ui-popup title="Triggers a Detailed Analysis" content=esMsEffectPopupText}}
            {{project.estEsMsStudents}} <i class="attention icon"></i>
          {{/ui-popup}}
        {{else}}
          {{project.estEsMsStudents}}
        {{/if}}
      </td>
      <td rowspan="2">
        {{ceqrManual.thresholdEsMsStudents}}
      </td>
      <td rowspan="2">
        <div style="display: inline-block;" class="ui medium label {{if project.esEffect "yellow" "grey"}}">
          {{if project.esEffect "Yes" "No"}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Middle School</td>
      <td class="math--left"><i class="times circle icon"></i> {{project.studentMultipliers.is}}</td>
      <td>{{project.estIsStudents}}</td>
    </tr>
    <tr>
      <td>High School</td>
      <td class="math--left"><i class="times circle icon"></i> {{project.studentMultipliers.hs}}</td>
      <td class={{if project.hsEffect "warning"}} colspan="2">
        {{#if project.hsEffect}}
          {{#ui-popup title="Triggers a Detailed Analysis" content=hsEffectPopupText}}
            {{project.estHsStudents}} <i class="attention icon"></i>
          {{/ui-popup}}
        {{else}}
          {{project.estHsStudents}}
        {{/if}}
      </td>
      <td>
        {{ceqrManual.thresholdHsStudents}}
      </td>
      <td>
        <div style="display: inline-block;" class="ui medium label {{if project.hsEffect "yellow" "grey"}}">
          {{if project.hsEffect "Yes" "No"}}
        </div>
      </td>
    </tr>
  </tbody>
</table>

