<h4>Estimated No-Action Primary and Intermediate School Enrollment, Capacity and Utilization</h4>
<table class="ui collapsing celled table">
  <thead>
    <tr>
      <th>Study Area</th>
      <th>Projected {{project.buildYear}} Enrollment</th>
      <th>Students Introducted by No-Action Residential Development</th>
      <th>Total No-Action Enrollment</th>
      <th>Capacity</th>
      <th>Available Seats</th>
      <th>Utilization (%)</th>
    </tr>
    <tr>
      <th colspan=7>Primary Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each (await analysis.resultsNoAction) as |p|}}
      <tr>
        <td>District {{p.district}} - Subdistrict {{p.subdistrict}}</td>
        <td>{{p.futureNoAction.ps.projectedEnroll}}</td>
        <td>{{p.futureNoAction.ps.projectedNewStudents}}</td>
        <td>{{p.futureNoAction.ps.projectedTotalEnroll}}</td>
        <td>{{p.futureNoAction.ps.projectedCapacity}}</td>
        <td>{{p.futureNoAction.ps.projectedAvailSeats}}</td>
        <td>{{p.futureNoAction.ps.projectedUtilization}}</td>
      </tr>
    {{/each}}
  </tbody>

  <thead>
    <tr>
      <th colspan=7>Intermediate Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each (await analysis.resultsNoAction) as |p|}}
      <tr>
        <td>District {{p.district}} - Subdistrict {{p.subdistrict}}</td>
        <td>{{p.futureNoAction.is.projectedEnroll}}</td>
        <td>{{p.futureNoAction.is.projectedNewStudents}}</td>
        <td>{{p.futureNoAction.is.projectedTotalEnroll}}</td>
        <td>{{p.futureNoAction.is.projectedCapacity}}</td>
        <td>{{p.futureNoAction.is.projectedAvailSeats}}</td>
        <td>{{p.futureNoAction.is.projectedUtilization}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

