<table class="ui attached bottom celled table">
  <thead>
    <tr>
      <th class="three wide">Study Area</th>
      <th class="two wide">Projected {{project.buildYear}} Enrollment</th>
      <th class="two wide">Students Introduced by No-Action Residential Development</th>
      <th class="two wide">Total No-Action Enrollment</th>
      <th class="one wide">Capacity</th>
      <th class="one wide">Available Seats</th>
      <th class="one wide">Utilization (%)</th>
    </tr>
  </thead>

  {{#if psTable}}
    <thead>
      <tr>
        <th colspan=7>Primary Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each psTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          <td>{{p.enroll}}</td>
          <td>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}

  {{#if isTable}}
    <thead>
      <tr>
        <th colspan=7>Intermediate Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each isTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          <td>{{p.enroll}}</td>
          <td>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}

  {{#if hsTable}}
    <thead>
      <tr>
        <th colspan=7>High Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each hsTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          <td>{{p.enroll}}</td>
          <td>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
</table>
