{{#if hasSigUtils}}
  <div class="ui message">
    <div class="header">Instructions</div>
    <p>This step is intended to identify DOE plans for re-purposing underutilized school space that could radically 
      alter available capacity in the future. Use the PEP (Panel for Educational Policy) Vote Date to access a more
      detailed view of the relevant school utilization proposal. Consult the lead agency for detailed assumptions on
      impact of specific changes on capacity.</p>
  </div>

  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        <div class="header item">Building ID</div>
        {{#each project.doeUtilChangesPerBldg as |t|}}
          <a class="item {{if (eq bldg_id t.bldg_id) "active"}}" {{action 'showBldg' t.bldg_id}}>
            {{t.bldg_id}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="thirteen wide column">
      {{#each project.doeUtilChangesPerBldg as |t|}}
        {{#if (eq bldg_id t.bldg_id)}}
          <div class="ui teal top attached segment"><h3>Building ID {{t.bldg_id}}</h3></div>
          
          <table class="ui attached celled table">
            <thead>
              <tr>
                <th class="one wide">Org. ID</th>
                <th class="five wide">School Name</th>
                <th class="one wide">Building ID</th>
                <th class="five wide">Building Name</th>
                <th class="one wide">Level</th>
                <th class="one wide">Current Capacity</th>
                <th class="one wide">{{project.buildYear}} Capacity</th>
                <th class="one wide">Capacity Δ</th>
              </tr>
            </thead>
            <tbody>
              {{#each t.buildings as |b|}}
                <tr>
                  <td>{{b.org_id}}</td>
                  <td>{{b.name}}</td>
                  <td>{{b.bldg_id}}</td>
                  <td>{{b.bldg_name}}</td>
                  <td>{{uppercase b.level}}</td>
                  <td>{{b.capacity}}</td>
                  <td class="warning">
                    <div class="ui input transparent edit-cell">
                      {{input type="number" value=b.capacityFuture placeholder="0"}}
                    </div>
                  </td>
                  <td>{{b.capacityDelta}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="ui clearing attached segment">
            <div class="ui right floated button compact primary {{if saving "loading"}}" {{action 'save'}}>Save</div>
          </div>

          <h4 class="ui attached header">DOE Utilization Change Notices</h4>

          <table class="ui bottom attached celled table">
            <thead>
              <tr>
                <th class="two wide">At Scale Year</th>
                <th class="one wide">At Scale Enrollment</th>
                <th class="eight wide">Proposal Title</th>
                <th class="five wide">Links</th>
              </tr>
            </thead>
            <tbody>
              {{#each t.doe_notices as |n|}}
                <tr>
                  <td>{{n.at_scale_year}}</td>
                  <td>{{n.at_scale_enroll}}</td>
                  <td>{{n.title}}</td>
                  <td>
                    <div class="ui list">
                      {{#if n.bup_url}}<div class="item"><a href={{n.bup_url}} target="_blank">Building Utilization Plan <i class="external alternate icon"></i></a></div>{{/if}}
                      {{#if n.eis_url}}<div class="item"><a href={{n.eis_url}} target="_blank">Educational Impact Statement <i class="external alternate icon"></i></a></div>{{/if}}
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="ui icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header">
        <a target="_blank" href="https://www.schools.nyc.gov/about-us/leadership/panel-for-education-policy">
          Panel for Educational Policy meeting minutes <i class="external alternate icon"></i>
        </a>
      </div>
      <p>The Panel for Educational Policy (PEP) consists of 13 appointed members and the Chancellor. Each borough president appoints one member and the mayor appoints the remaining eight. The Chancellor serves as an ex-officio non-voting member. The PEP is responsible for electing a chairperson from among the voting members.</p>
    </div>
  </div>
{{else}}  
  <div class="ui secondary segment">
    There are no DOE significant utilization changes in your current study area.
  </div>
{{/if}}


