<h3 class="ui header attached top">
  Estimated Results
</h3>

<table class="ui attached bottom celled table">
  <thead>
    <tr>
      <th>Study Area</th>
      <th>Utilization (%)</th>
      <th>Change in Utilization (%)</th>
      <th>Triggers a Significant Adverse Impact</th>
    </tr>
  </thead>

  {{#if psTable}}
    <thead>
      <tr>
        <th colspan=4>Primary Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each psTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          {{#td-hover payload=(hash name='utilizationWithAction' sdid=p.id level='ps')}}{{percentage p.utilizationWithAction}}{{/td-hover}}
          {{#td-hover payload=(hash name='utilizationChange' sdid=p.id level='ps')}}{{percentage p.utilizationChange}}{{/td-hover}}
          {{#if p.impact}}
            <td class="negative"><strong>Likely</strong></td>
          {{else}}
            <td class="positive">No</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  {{/if}}

  {{#if isTable}}
    <thead>
      <tr>
        <th colspan=4>Intermediate Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each isTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          {{#td-hover payload=(hash name='utilizationWithAction' sdid=p.id level='is')}}{{percentage p.utilizationWithAction}}{{/td-hover}}
          {{#td-hover payload=(hash name='utilizationChange' sdid=p.id level='is')}}{{percentage p.utilizationChange}}{{/td-hover}}
          {{#if p.impact}}
            <td class="negative"><strong>Likely</strong></td>
          {{else}}
            <td class="positive">No</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  {{/if}}

  {{#if hsTable}}
    <thead>
      <tr>
        <th colspan=4>High Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each hsTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          {{#td-hover payload=(hash name='utilizationWithAction' sdid=p.id level='hs')}}{{percentage p.utilizationWithAction}}{{/td-hover}}
          {{#td-hover payload=(hash name='utilizationChange' sdid=p.id level='hs')}}{{percentage p.utilizationChange}}{{/td-hover}}
          {{#if p.impact}}
            <td class="negative"><strong>Likely</strong></td>
          {{else}}
            <td class="positive">No</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
</table>