<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">Study Area</th>
      <th class="two wide">
        Projected {{project.buildYear}} Enrollment
        {{#if project.projectionOverMax}}
          <div data-tooltip="Build year beyond maximum projections available. Using {{project.maxProjection}} enrollment projection." data-inverted="" class="ui orange label">
            <i class="warning icon"></i> {{project.maxProjection}}
          </div>
        {{/if}}
      </th>
      <th class="two wide">Students Introduced by No Action Residential Development</th>
      <th class="two wide">Total No Action Enrollment</th>
      <th class="one wide">Capacity</th>
      <th class="one wide">Available Seats</th>
      <th class="one wide">Utilization (%)</th>
    </tr>
  </thead>

  {{#if psTable}}
    <thead>
      <tr>
        <th colspan=7>Primary Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each psTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          <td>{{p.enroll}}</td>
          <td class="math--left"><i class="plus circle icon"></i>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>

    {{#if project.multiSubdistrict}}
      <tr>
        <td><em>Totals across study area</em></td>
        <td><em>{{psTableTotals.enrollTotal}}</em></td>
        <td class="math--left"><i class="plus circle icon"></i><em>{{psTableTotals.studentsTotal}}</em></td>
        <td><em>{{psTableTotals.enrollNoActionTotal}}</em></td>
        <td><em>{{psTableTotals.capacityNoActionTotal}}</em></td>
        <td><em>{{psTableTotals.seatsNoActionTotal}}</em></td>
        <td><em>{{percentage psTableTotals.utilizationNoActionTotal}}</em></td>
      </tr>
    {{/if}}
  {{/if}}

  {{#if isTable}}
    <thead>
      <tr>
        <th colspan=7>Intermediate Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each isTable as |p|}}
        <tr>
          <td>{{p.sdName}}</td>
          <td>{{p.enroll}}</td>
          <td class="math--left"><i class="plus circle icon"></i>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>

    {{#if project.multiSubdistrict}}
      <tr>
        <td><em>Totals across study area</em></td>
        <td><em>{{isTableTotals.enrollTotal}}</em></td>
        <td class="math--left"><i class="plus circle icon"></i><em>{{isTableTotals.studentsTotal}}</em></td>
        <td><em>{{isTableTotals.enrollNoActionTotal}}</em></td>
        <td><em>{{isTableTotals.capacityNoActionTotal}}</em></td>
        <td><em>{{isTableTotals.seatsNoActionTotal}}</em></td>
        <td><em>{{percentage isTableTotals.utilizationNoActionTotal}}</em></td>
      </tr>
    {{/if}}
  {{/if}}

  {{#if project.hsAnalysis}}
    <thead>
      <tr>
        <th colspan=7>High Schools</th>
      </tr>
    </thead>

    <tbody>
      {{#each hsTable as |p|}}
        <tr>
          <td>{{project.borough}}</td>
          <td>{{p.enroll}}</td>
          <td class="math--left"><i class="plus circle icon"></i>{{p.students}}</td>
          <td>{{p.enrollNoAction}}</td>
          <td>{{p.capacityNoAction}}</td>
          <td>{{p.seatsNoAction}}</td>
          <td>{{percentage p.utilizationNoAction}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
</table>

<div class="ui icon message">
  <i class="database icon"></i>
  <div class="content">
    <div class="header">
      <a target="_blank" href="http://www.nycsca.org/Community/Capital-Plan-Reports-Data#Demographic-Projection-68">
        Enrollment Projections 2016 to 2025 New York City Public Schools by the Statistical Forecasting <i class="external alternate icon"></i>
      </a>
    </div>
    <p>The demographic projections take into account the birth, enrollment, and migration trends for five and ten years into the future.
      The enrollment projection is then combined with projected housing growth to derive the total projected enrollment.</p>
    <div class="header">
      <a target="_blank" href="http://www.nycsca.org/Community/Capital-Plan-Reports-Data#Housing-Projections-70">
       Projected New Housing Starts as Used in 2016-2005 Enrollment Projection <i class="external alternate icon"></i>
      </a>
    </div>
    <p>The Department of Education collaborates with other City Agencies to develop a comprehensive list of new 
      housing starts and incorporates the expected increase in school-age population into its projections.</p>
  </div>
</div>
