<div class="ui segment top attached">
  <h4>{{project.name}} – Public School Students Generated</h4>
</div>

<table class="ui bottom attached celled table">
  <thead>
    <tr>
      <th>Build Year</th>
      <th>Housing Units for Analysis</th>
      <th>PS Students</th>
      <th>IS Students</th>
      <th>HS Students</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>        
        <div 
          class="ui label large"
          data-tooltip="Build Year"
          data-position="bottom center"
          data-inverted=""
        >
          <i class="calendar alternate icon"></i>{{project.buildYear}}
        </div>
      </td>
      {{#td-hover payload=(hash name="housingFromDev")}}{{project.netUnits}}{{/td-hover}}
      {{#td-hover payload=(hash name="studentsFromDev" level="ps")}}{{project.estEsStudents}}{{/td-hover}}
      {{#td-hover payload=(hash name="studentsFromDev" level="is")}}{{project.estIsStudents}}{{/td-hover}}
      {{#td-hover payload=(hash name="studentsFromDev" level="hs")}}{{project.estHsStudents}}{{/td-hover}}
    </tr>
  </tbody>
</table> 