<table class="ui celled table">
  <thead>
    <tr>
      <th>
        <i class="building icon"></i>
        Project Name
      </th>
      <th>Build Year</th>
      <th>Units for Analysis</th>
      <th>PS Students</th>
      <th>IS Students</th>
      <th>HS Students</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <h3 class="inline-header">{{project.ceqr_number}} - {{project.name}}</h3>
      </td>
      <td>        
        <div class="ui label large" data-tooltip="Build Year" data-position="bottom center" data-inverted="">
          <i class="calendar alternate icon"></i>{{project.buildYear}}
        </div>
      </td>
      {{#td-hover payload=(hash name='housingFromDev')}}{{project.netUnits}}{{/td-hover}}
      {{#td-hover payload=(hash name='studentsFromDev' level='ps')}}{{project.estEsStudents}}{{/td-hover}}
      {{#td-hover payload=(hash name='studentsFromDev' level='is')}}{{project.estIsStudents}}{{/td-hover}}
      {{#td-hover payload=(hash name='studentsFromDev' level='hs')}}{{project.estHsStudents}}{{/td-hover}}
    </tr>
  </tbody>
</table> 