<h3 class="ui attached segment">
  <div class="ui green ribbon label">Action 1</div>SCA Schools Under Construction [from: SCA Construction]
</h3>

{{#each project.futureNoAction as |p|}}
  <table class="ui attached celled table">
    <thead>
      <th colspan="4">District {{p.district}} - Subdistrict {{p.subdistrict}}</th>
      <tr>
        <th>School Under Construction</th>
        <th>Estimated Capacity</th>
        <th>Estimated Completion Date</th>
        <th>Data as Of</th>
      </tr>
    </thead>
    <tbody>
      {{#each project.scaProjects as |b|}}
        <tr>
          <td>{{b.name}}</td>
          <td>{{b.capacity}}</td>
          <td>{{moment-format b.planned_end_date 'MM/DD/YYYY'}}</td>
          <td>{{moment-format b.data_as_of 'MM/DD/YYYY'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}