{{#if tables}}
  <div class="ui message">
    <div class="header">Instructions</div>
    <p>
      Include capacity of new school if estimated completion date is before the project's
      build year AND % funded is 80% or higher. Consult lead agency to confirm inclusion of school.
    </p>

    <p>
      Refer to 
      <a 
        target="_blank"
        rel="noopener"
        href="http://www.nycsca.org/Vendor/Vendor-List/Capacity-Projects-Anticipated-Contract-Awards"
      >
        SCA Anticipated Contract Awards
      </a> to confirm school target capacities. 
    </p>
  </div>

  {{#each tables as |t|}}
    <table class="ui top attached orange celled table">
      <thead>
        <th colspan="8">District {{t.district}} - Subdistrict {{t.subdistrict}}</th>
        <tr>
          <th class="five wide">School Under Construction</th>
          <th class="two wide">Estimated Completion Date</th>
          <th class="two wide">% Funded</th>
          <th class="one wide">Future Capacity</th>
          <th class="one wide">Est. PS Capacity</th>
          <th class="one wide">Est. IS Capacity</th>
          <th class="one wide">Est. HS Capacity</th>
          <th class="one wide">Include?</th>
        </tr>
      </thead>
      <tbody>
        {{#each t.buildings as |b|}}
          <tr>
            <td>{{b.name}}</td>
            <td>{{moment-format b.planned_end_date "MM/DD/YYYY"}}</td>
            <td>
              <div 
                class="ui tiny progress" 
                data-percent={{mult b.pct_funded 100}}
                data-inverted=""
                data-variation="very wide"
                data-html="
                  <table class='ui celled table'>
                    <tr>
                      <td>Previous funding</td>
                      <td>${{b.funding_previous}} mil.</td>
                    </tr>
                    <tr>
                      <td>Funding in 2015-2019 budget</td>
                      <td>${{b.funding_budget_15_19}} mil.</td>
                    </tr>
                    <tr>
                      <td>Total Est. Cost</td>
                      <td>${{b.total_est_cost}} mil.</td>
                    </tr>
                  </table>
                "
              >
                <div class="bar"></div>
                <div class="label">{{percentage b.pct_funded}} Funded <i class="attention icon"></i></div>
              </div>
            </td>
            {{#if b.guessed_pct}}
              <td
                data-tooltip="Data does not include capacity broken down by level"
                data-inverted=""
              >
                {{b.capacity}} <i class="attention icon"></i>
              </td>
            {{else}}
              <td>{{b.capacity}}</td>
            {{/if}}
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.ps_capacity placeholder="0"}}
              </div>
            </td>
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.is_capacity placeholder="0"}}
              </div>
            </td>
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.hs_capacity placeholder="0"}}
              </div>
            </td>
            <td>
              {{ui-checkbox
                checked=b.includeInCapacity
                onChange=(action (mut b.includeInCapacity))
              }}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}

  <div class="ui clearing attached segment">
    <button
      class="ui right floated button compact primary {{if saving "loading"}}" {{action "save"}}
    >
      Save
    </button>
  </div>

  <div class="ui icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header">
        <a 
          target="_blank"
          rel="noopener"
          href="https://data.cityofnewyork.us/Education/Capacity-Projects-by-schools/a94k-kjys"
        >
          Capacity Projects by schools [Mar 21, 2018] <i class="external alternate icon"></i>
        </a>
      </div>
      <p>Capacity project details by school.</p>

      <div class="header">
        <a
          target="_blank"
          rel="noopener"
          href="https://data.cityofnewyork.us/Housing-Development/Active-Projects-Under-Construction/8586-3zfm"
        >
          Active Projects Under Construction [Feb 22, 2018] <i class="external alternate icon"></i>
        </a>
      </div>
      <p>New school projects (Capacity) and Capital Improvement Projects (CIP) currently under Construction.</p>
    </div>
  </div>
{{else}}  
  <div class="ui secondary segment">
    There are no schools under construction in your current study area.
  </div>
{{/if}}

