{{!-- 
Get Mona to include correct grades served and citywide & alternative schools
 --}}

<div class="ui basic segment">
  <h4>Primary Schools</h4>
  <table class="ui celled sortable table">
    <thead>
      <tr>
        <th>School Name</th>
        <th>Address</th>
        <th>Grades<br />Served</th>
        <th>Enrollment</th>
        <th>Target<br />Capacity</th>
        <th>Available<br />Seats</th>
        <th>Utilization (%)</th>
      </tr>
    </thead>

    <tbody>
      {{#each (await analysis.psBuildings) as |b|}}
        <tr>
          <td>{{b.name}}</td>
          <td>{{b.address}}</td>
          <td>{{b.grades}}</td>
          <td>{{b.enroll}}</td>
          <td>{{if b.capacity b.capacity "N/A"}}</td>
          <td>{{b.seats}}</td>
          <td>{{if b.utilization b.utilization "N/A"}}</td>
        </tr>
      {{/each}}
    </tbody>

    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th>{{analysis.psEnrollmentTotal}}</th>
        <th>{{analysis.psCapacityTotal}}</th>
        <th>{{analysis.psSeatsTotal}}</th>
        <th>{{analysis.psUtilization}}</th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="ui basic segment">
  <h4>Intermediate Schools</h4>
  <table class="ui celled sortable table">
    <thead>
      <tr>
        <th>School Name</th>
        <th>Address</th>
        <th>Grades<br />Served</th>
        <th>Enrollment</th>
        <th>Target<br />Capacity</th>
        <th>Available<br />Seats</th>
        <th>Utilization (%)</th>
      </tr>
    </thead>

    <tbody>
      {{#each (await analysis.msBuildings) as |b|}}
        <tr>
          <td>{{b.name}}</td>
          <td>{{b.address}}</td>
          <td>{{b.grades}}</td>
          <td>{{b.enroll}}</td>
          <td>{{if b.capacity b.capacity "N/A"}}</td>
          <td>{{b.seats}}</td>
          <td>{{if b.utilization b.utilization "N/A"}}</td>
        </tr>
      {{/each}}
    </tbody>

    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th>{{analysis.msEnrollmentTotal}}</th>
        <th>{{analysis.msCapacityTotal}}</th>
        <th>{{analysis.msSeatsTotal}}</th>
        <th>{{analysis.msUtilization}}</th>
      </tr>
    </tfoot>
  </table>
</div>
