<h3 class="ui top attached segment">
  <div class="ui green ribbon label">Action 3</div>Additional No-Action Residential Development
</h3>

<div class="ui attached segment">
  <form class="ui form" {{action 'addResDev' resdev on='submit'}}>
    <div class="inline fields">
      <div class="field">
        {{input type="string" value=resdev.name placeholder="Project Name"}}
      </div>
      <div class="field">
        {{input type="number" value=resdev.year placeholder="Est. Built Year"}}
      </div>
      <div class="field">
        {{#ui-dropdown class="selection" selected=resdev.subdistrict onChange=(action (mut resdev.subdistrict)) as |execute mapper|}}
          <div class="default text">Subdistrict</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each project.subdistricts as |sd|}}
              <div data-value="{{map-value mapper sd}}" class="item">
                District {{sd.district}} - Subdistrict {{sd.subdistrict}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="field">
        {{input type="number" value=resdev.total_units placeholder="Total Units"}}
      </div>

      <button type="submit" class="ui button primary">Add</button>
    </div>
  </form>
</div>

{{#if project.futureResidentialDev}}
  <table class="ui attached celled table">
    <thead>
      <tr>
        <th class="five wide">Project Name (Build Year)</th>
        <th class="two wide">Subdistrict</th>
        <th class="two wide">Total Units</th>
        <th class="two wide">Est. PS Students</th>
        <th class="two wide">Est. IS Students</th>
        <th class="two wide">Est. HS Students</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each project.futureResidentialDev as |r|}}
        <tr>
          <td>{{r.name}} ({{r.year}})</td>
          <td>District {{r.district}} - Subdistrict {{r.subdistrict}}</td>
          <td>{{r.total_units}}</td>
          <td>{{r.ps_students}}</td>
          <td>{{r.is_students}}</td>
          <td>{{r.hs_students}}</td>
          <td><button class="ui button red" {{action 'removeResDev' r}}>Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}