<table class="ui attached celled table">
  <thead>
    <tr>
      <th>Study Area</th>
      <th>Projected {{project.buildYear}} Enrollment</th>
      <th>Students Introducted by No-Action Residential Development</th>
      <th>Total No-Action Enrollment</th>
      <th>Capacity</th>
      <th>Available Seats</th>
      <th>Utilization (%)</th>
    </tr>
    <tr>
      <th colspan=7>Primary Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each project.futureNoAction as |p|}}
      <tr>
        <td>District {{p.district}} - Subdistrict {{p.subdistrict}}</td>
        <td>{{p.ps.projectedEnroll}}</td>
        <td>{{p.ps.projectedNewStudents}}</td>
        <td>{{p.ps.projectedTotalEnroll}}</td>
        <td>{{p.ps.projectedCapacity}}</td>
        <td>{{p.ps.projectedAvailSeats}}</td>
        <td>{{p.ps.projectedUtilization}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<table class="ui attached celled table">
  <thead>
    <tr>
      <th colspan=7>Intermediate Schools</th>
    </tr>
  </thead>

  <tbody>
    {{#each project.futureNoAction as |p|}}
      <tr>
        <td>District {{p.district}} - Subdistrict {{p.subdistrict}}</td>
        <td>{{p.is.projectedEnroll}}</td>
        <td>{{p.is.projectedNewStudents}}</td>
        <td>{{p.is.projectedTotalEnroll}}</td>
        <td>{{p.is.projectedCapacity}}</td>
        <td>{{p.is.projectedAvailSeats}}</td>
        <td>{{p.is.projectedUtilization}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

