<div class="ui fixed menu inverted top-bar">
  <div class="ui container">
    <div class="header item">
      <i class="building icon"></i>
      {{#link-to "user.projects"}}CEQR Schools{{/link-to}}
    </div>
    
    {{!-- <div class="item">
      Project ID: {{project.project_id}}
    </div> --}}
    {{!-- <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    --}}

    {{#if session.isAuthenticated}}
      <div class="ui right simple dropdown item">
        {{session.currentUser.email}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" {{action 'logOut'}}><i class="sign out alternate icon"></i>Log Out</a>
          {{!-- <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="globe icon"></i> Choose Language</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a> --}}
        </div>
      </div>
    {{else}}
      <div class="right item">
        {{#link-to 'login'}}Log In{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>

{{yield}}