<div class="ui message">
  <div class="header">
    Instructions
  </div>
  <p>
    If the project spans multiple school districts or school sub-districts or if the project is in a 
    school choice district, consult lead agency if additional sub-districts should be included in the analysis.
  </p>
</div>
<div class="ui segment divided grid">
  {{#if
    (or
      this.analysis.esSchoolChoice
      this.analysis.isSchoolChoice
      (gt this.analysis.subdistrictsFromDb.length 1)
    )
  }}
    <div class="sixteen wide column">
      <div class="row">
        <div class="ui message warning">
          {{#if this.analysis.esSchoolChoice}}
            <div class="header">
              <i class="attention icon"></i>
              Project may be in Elementary School Choice district
            </div>
            <p>
              This project may be located in an elementary school choice district. Confirm with lead agency that a district-wide study area is appropriate.
            </p>
          {{/if}}
          {{#if this.analysis.isSchoolChoice}}
            <div class="header">
              <i class="attention icon"></i>
              Project may be in Intermediate School Choice district
            </div>
            <p>
              This project may be located in an intermediate school choice district. Confirm with lead agency that a district-wide study area is appropriate.
            </p>
          {{/if}}
          {{#if (gt this.analysis.subdistrictsFromDb.length 1)}}
            <div class="header">
              <i class="attention icon"></i>
              Project straddles two or more subdistricts
            </div>
            <p>
              Confirm with lead agency that a district-wide study area is appropriate.
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="eight wide column">
    <h4 class="ui header">
      Subdistricts derived from BBLs
    </h4>
    <div class="ui list">
      {{#each this.analysis.subdistrictsFromDb as |sd|}}
        <div class="item">
          <div class="ui label">
            {{sd.sdName}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="eight wide column">
    <div class="row">
      <h4 class="ui header">
        Additional Subdistricts
      </h4>
      <div class="ui list">
        {{#each this.analysis.subdistrictsFromUser as |sd|}}
          <div class="item">
            <div class="ui blue label">
              {{sd.sdName}}
              <i role="button" class="delete icon" {{on "click" (fn this.removeSubdistrict sd)}}></i>
            </div>
          </div>
        {{/each}}
      </div>
      <UiDropdown
        class="selection"
        @selected={{this.district}}
        @onChange={{action "setDistrict"}}
      >
        <div class="default text">
          District
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.districts as |d|}}
            <div data-value={{d}} class="item">
              District {{d}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
      <UiDropdown
        class="selection {{unless this.district "disabled"}}"
        @selected={{this.subdistrict}}
        @onChange={{action "setSubdistrict"}}
      >
        <div class="default text">
          Subdistrict
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.subdistricts as |sd|}}
            <div data-value={{sd}} class="item">Subdistrict {{sd}}</div>
          {{/each}}
        </div>
      </UiDropdown>
      <button class="ui button {{unless this.subdistrict "disabled"}}" type="button" {{on "click" this.addSubdistrict}}>
        Add
      </button>
    </div>
  </div>
</div>
<div
  class="ui inverted dimmer
    {{if this.public-schools.addSubdistrict.isRunning "active"}}"
>
  <div class="ui text loader">
    Loading
  </div>
</div>
