{{#if this.analysis.newlyOpenedSchools}}
  <div class="ui message">
    <div class="header">
      Instructions
    </div>
    <p>
      Find
      <strong>
        Target Capacity
      </strong>
      for each recently opened school at the
      <a
        href="https://dnnhh5cc1.blob.core.windows.net/portals/0/Capital_Plan/Utilization_Reports/Blue%20Book%202016-2017.pdf?sr=b&si=DNNFileManagerPolicy&sig=g7eZjXLOaaZfmXPHd0cFOjryIfBrVwF8D5mf9IFcSpA%3D"
        target="_blank" rel="noopener noreferrer"
      >
        end of the Bluebook Enrollment, Capacity & Utilization Report
        <i class="file pdf icon"></i>
      </a>
    </p>
  </div>
  <div class="ui top attached segment">
    <h4>
      Schools opened in
      {{school-year this.lcgmsMetadata}}
      school year not captured in Blue Book
    </h4>
  </div>
  <table class="ui celled attached table">
    <thead>
      <tr>
        <th class="one wide">
          Org. ID
        </th>
        <th class="four wide">
          School Name
        </th>
        <th class="one wide">
          Grades
        </th>
        <th class="five wide">
          Address
        </th>
        <th class="one wide">
          Org Level
        </th>
        <th class="one wide">
          Enrollment
        </th>
        <th class="one wide">
          Target
          <br>
          Capacity
        </th>
        <th class="one wide">
          Available
          <br>
          Seats
        </th>
        <th class="one wide">
          Utilization (%)
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.analysis.newlyOpenedSchools as |school|}}
        <TrHover
          class={{school.org_level}}
          @source="buildings"
          @id={{school.id}}
        >
          <td>
            {{school.org_id}}
          </td>
          <td>
            <i class="icons">
              <i class="circle new-school-outline icon"></i>
              <i class="small circle school icon"></i>
            </i>
            {{school.name}}
            {{#if (not-eq school.name school.bldg_name)}}
              <br>
              <em>
                {{school.bldg_name}}
              </em>
            {{/if}}
          </td>
          <td>
            {{school.grades}}
          </td>
          <td>
            {{school.address}}
          </td>
          <td>
            {{school.level}}
          </td>
          <td class="warning">
            <div class="ui input transparent warning edit-cell">
              {{input type="number" value=school.enroll placeholder="0"}}
            </div>
          </td>
          <td class="warning">
            <div class="ui input transparent warning edit-cell">
              {{input type="number" value=school.capacity placeholder="0"}}
            </div>
          </td>
          <td>
            {{school.seats}}
          </td>
          <td>
            {{if school.excluded "N/A" (percentage school.utilization)}}
          </td>
        </TrHover>
      {{/each}}
    </tbody>
  </table>
  <div class="ui clearing bottom attached segment">
    <div
      class="ui right floated button compact primary {{if this.saving "loading"}}"
      {{action "save"}}
    >
      Save
    </div>
  </div>
  <div class="ui icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header">
        <a
          target="_blank" rel="noopener noreferrer" href="https://data.cityofnewyork.us/Education/LCGMS-DOE-School-Information-Report/3bkj-34v2"
        >
          DOE School Information Report (LCGMS) [
          {{this.lcgmsMetadata}}
          ]
          <i class="external alternate icon"></i>
        </a>
      </div>
      <p>
        The Department of Education does not include schools built in the current year in Bluebook. For such schools,
      data from the Department of Education's School Information report is used.
      </p>
    </div>
  </div>
{{else}}
  <div class="ui secondary segment">
    There are no schools needing further information in your current study area.
  </div>
{{/if}}