<td>{{this.label}}</td>
<td><Input @type="number" max="100" min="0" @value={{this.data.in}} data-test-in-out-split="in" {{on "input" (action "syncOut" this.data.in)}} /></td>
<td><Input @type="number" max="100" min="0" @value={{this.data.out}} {{on "input" (action "syncIn" this.data.out)}} /></td>
