<td>{{this.label}}</td>
<td><Input aria-label="in" @type="number" max={{100}} min={{0}} @value={{this.data.in}} data-test-in-out-split="in" {{on "input" this.syncOut}} /></td>
<td><Input aria-label="out" @type="number" max="100" min="0" @value={{this.data.out}} {{on "input" this.syncIn}} /></td>
