<td>{{label}}</td>
<td><Input @type="number" @max="100" @min="0" @value={{data.in}} @input={{action "syncOut" data.in}} data-test-in-out-split="in" /></td>
<td><Input @type="number" @max="100" @min="0" @value={{data.out}} @input={{action "syncIn" data.out}} /></td>
