{{#if this.hasSigUtils}}
  <div class="ui message">
    <div class="header">
      Instructions
    </div>
    <p>
      This step is intended to identify DOE plans for re-purposing underutilized school space that could radically alter available capacity in the future. To view the relevant school utilization proposal in detail:
    </p>
    <ul>
      <li>
        Click on the link included under Proposal Title
      </li>
      <li>
        Navigate to the Proposal Date to view all school utilization proposals from that date
      </li>
      <li>
        Search by Proposal Title to locate the specific document
      </li>
    </ul>
    <p>
      Consult the lead agency for detailed assumptions on impact of specific changes on capacity.
    </p>
  </div>
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        <div class="header item">
          Building ID
        </div>
        {{#each this.analysis.doeUtilChangesPerBldg as |t|}}
          <a
            class="item {{if (eq this.bldg_id this.t.bldg_id) "active"}}"
            {{action "showBldg" t.bldg_id}}
          >
            {{t.bldg_id}}
          </a>
        {{/each}}
      </div>
    </div>
    <div class="thirteen wide column">
      {{#each this.analysis.doeUtilChangesPerBldg as |t|}}
        {{#if (eq this.bldg_id t.bldg_id)}}
          <div class="ui teal top attached segment">
            <h3>
              Building ID
              {{t.bldg_id}}
            </h3>
          </div>
          <table class="ui attached celled table">
            <thead>
              <tr>
                <th class="one wide">
                  Org. ID
                </th>
                <th class="five wide">
                  School Name
                </th>
                <th class="one wide">
                  Building ID
                </th>
                <th class="five wide">
                  Building Name
                </th>
                <th class="one wide">
                  Level
                </th>
                <th class="one wide">
                  Current Capacity
                </th>
                <th class="one wide">
                  {{this.project.buildYear}}
                  Capacity
                  <UiPopup
                    @tagName="i"
                    class="tooltip circular inverted question icon"
                    @content="Adjust future capacity based on the relevant DOE proposal listed below."
                   />

                </th>
                <th class="one wide">
                  Capacity Δ
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each t.buildings as |b|}}
                <tr>
                  <td>
                    {{b.org_id}}
                  </td>
                  <td>
                    {{b.name}}
                  </td>
                  <td>
                    {{b.bldg_id}}
                  </td>
                  <td>
                    {{b.bldg_name}}
                  </td>
                  <td>
                    {{uppercase b.level}}
                  </td>
                  <td>
                    {{b.capacity}}
                  </td>
                  <td class="warning">
                    <div class="ui input transparent edit-cell">
                      <Input
                        @type="number"
                        @value={{b.capacityFuture}}
                        placeholder="0"
                      /> 
                    </div>
                  </td>
                  <td>
                    {{b.capacityDelta}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="ui clearing attached segment">
            <button
              class="ui right floated button compact primary
                {{if this.saving "loading"}}" type="button" {{action "save"}}
            >
              Save
            </button>
          </div>
          <h4 class="ui attached header">
            Relevant DOE School Utilization Proposals
          </h4>
          <table class="ui bottom attached celled table">
            <thead>
              <tr>
                <th class="seven wide">
                  Proposal Title
                </th>
                <th class="two wide">
                  Proposal Date
                </th>
                <th class="two wide">
                  At Scale Year
                </th>
                <th class="one wide">
                  At Scale Enrollment
                </th>
                <th class="one wide">
                  Org. ID
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each t.doe_notices as |notices|}}
                {{#each notices as |n index|}}
                  {{#if (eq index 0)}}
                    <tr>
                      <td rowspan={{notices.length}}>
                        <a href={{n.url}} target="_blank" rel="noopener noreferrer">
                          {{n.title}}
                        </a>
                      </td>
                      <td rowspan={{notices.length}}>
                        {{n.vote_date}}
                      </td>
                      <td rowspan={{notices.length}}>
                        {{n.at_scale_year}}
                      </td>
                      <td>
                        {{n.at_scale_enroll}}
                      </td>
                      <td>
                        {{n.org_id}}
                      </td>
                    </tr>
                  {{else}}
                    <tr>
                      <td>
                        {{n.at_scale_enroll}}
                      </td>
                      <td>
                        {{n.org_id}}
                      </td>
                    </tr>
                  {{/if}}
                {{/each}}
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="ui icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header">
        <a
          target="_blank" rel="noopener noreferrer" href="https://www.schools.nyc.gov/about-us/leadership/panel-for-education-policy"
        >
          Panel for Educational Policy meeting minutes [as of
          {{this.analysis.dataPackage.schemas.doe_significant_utilization_changes.version}}]
          <i class="external alternate icon"></i>
        </a>
      </div>
      <p>
        The Panel for Educational Policy (PEP) consists of 13 appointed members and the Chancellor. Each borough president appoints one member and the mayor appoints the remaining eight. The Chancellor serves as an ex-officio non-voting member. The PEP is responsible for electing a chairperson from among the voting members.
      </p>
    </div>
  </div>
{{else}}
  <div class="ui secondary segment">
    There are no DOE significant utilization changes in your current study area.
  </div>
{{/if}}