<div class="ui pointing menu">
  <LinkTo @route="project.show.public-schools.no-action.scenario" @model={{project.id}} class="item">
    No Action Scenario
  </LinkTo>
  <div class="right menu">
    <LinkTo @route="project.show.public-schools.no-action.under-construction" @model={{project.id}} class="item">
      SCA Schools
      <br>
      Under Construction
      <div
        class="ui label
          {{if (gt analysis.scaProjects.length 0) "orange" "green"}}"
      >
        {{analysis.scaProjects.length}}
      </div>
    </LinkTo>
    <LinkTo @route="project.show.public-schools.no-action.utilization-changes" @model={{project.id}} class="item">
      DOE Significant
      <br>
      Utilization Changes
      <div
        class="ui label
          {{if (gt analysis.doeUtilChangesCount 0) "orange" "green"}}"
      >
        {{analysis.doeUtilChangesCount}}
      </div>
    </LinkTo>
    <LinkTo @route="project.show.public-schools.no-action.residential-development" @model={{project.id}} class="item">
      Additional
      <br>
      Residential Development
      {{#if (gt analysis.futureResidentialDev.length 0)}}
        <div class="ui label blue">
          {{analysis.futureResidentialDev.length}}
        </div>
      {{/if}}
    </LinkTo>
  </div>
</div>