{{#if tables}}
  <div class="ui message">
    <div class="header">
      Instructions
    </div>
    <p>
      Include capacity of new school if estimated completion date is before the project's
      build year. Consult lead agency to confirm inclusion of school.
    </p>
    <p>
      Refer to
      <a
        target="_blank"
        rel="noopener"
        href="http://www.nycsca.org/Vendor/Vendor-List/Capacity-Projects-Anticipated-Contract-Awards"
      >
        SCA Anticipated Contract Awards
      </a>
      to confirm school target capacities.
    </p>
  </div>
  {{#each tables as |t|}}
    <table class="ui top attached orange celled table">
      <thead>
        <th colspan="8">
          District
          {{t.district}}
          - Subdistrict
          {{t.subdistrict}}
        </th>
        <tr>
          <th rowspan="2" class="four wide">
            School Under Construction
          </th>
          <th rowspan="2" class="two wide">
            Estimated Completion Date
          </th>
          <th rowspan="2" class="one wide">
            Future Capacity
          </th>
          <th colspan="3" class="three wide">
            Estimated Capacity
            <UiPopup
              @tagName="i"
              class="tooltip circular inverted question icon"
              @content="Confirm capacity allocations with SCA. Exclude charter and special education seats."
             />

          </th>
          <th rowspan="2" class="two wide">
            Include in Analysis
            <UiPopup
              @tagName="i"
              class="tooltip circular inverted question icon"
              @content="In general, include if school will be complete before the project."
             />

          </th>
        </tr>
        <tr>
          <th>
            PS
          </th>
          <th>
            MS
          </th>
          <th>
            HS
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each t.buildings as |b|}}
          <TrHover
            class={{b.org_level}}
            @source="scaprojects"
            @id={{b.id}}
          >
            <td>
              <i class="icons">
                <i class="circle school-under-construction icon"></i>
                <i class="small circle school icon"></i>
              </i>
              {{b.name}}
            </td>
            <td>
              {{moment-format b.planned_end_date "MM/DD/YYYY"}}
            </td>
            {{#if b.guessed_pct}}
              <td
                data-tooltip="Data does not include capacity broken down by level"
                data-inverted
              >
                {{b.capacity}}
                <i class="attention icon"></i>
              </td>
            {{else}}
              <td>
                {{b.capacity}}
              </td>
            {{/if}}
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.ps_capacity placeholder="0"}}
              </div>
            </td>
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.is_capacity placeholder="0"}}
              </div>
            </td>
            <td class="warning">
              <div class="ui input transparent edit-cell">
                {{input type="number" value=b.hs_capacity placeholder="0"}}
              </div>
            </td>
            <td>
              <UiCheckbox
                @checked={{b.includeInCapacity}}
                @onChange={{action (mut b.includeInCapacity)}}
               />

            </td>
          </TrHover>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
  <div class="ui clearing attached segment">
    <button
      class="ui right floated button compact primary {{if saving "loading"}}"
      {{action "save"}}
    >
      Save
    </button>
  </div>
  <div class="ui icon message">
    <i class="database icon"></i>
    <div class="content">
      <div class="header">
        <a
          target="_blank"
          rel="noopener"
          href="https://data.cityofnewyork.us/Education/Capacity-Projects-by-schools/a94k-kjys"
        >
          Capacity Projects by schools [{{analysis.dataPackage.schemas.sca_capacity_projects.version}}]
          <i class="external alternate icon"></i>
        </a>
      </div>
      <p>
        Capacity project details by school.
      </p>
      <div class="header">
        <a
          target="_blank"
          rel="noopener"
          href="https://data.cityofnewyork.us/Housing-Development/Active-Projects-Under-Construction/8586-3zfm"
        >
          Active Projects Under Construction
          <i class="external alternate icon"></i>
        </a>
      </div>
      <p>
        New school projects (Capacity) and Capital Improvement Projects (CIP) currently under Construction.
      </p>
    </div>
  </div>
{{else}}
  <div class="ui secondary segment">
    There are no schools under construction in your current study area.
  </div>
{{/if}}