{{! template-lint-disable table-groups }}
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide">
        Study Area
      </th>
      <th class="two wide">
        Projected
        {{project.buildYear}}
        Enrollment
        {{#if analysis.projectionOverMax}}
          <div
            data-tooltip="Build year beyond maximum projections available. Using
              {{analysis.maxProjection}}
               enrollment projection."
            data-inverted
            class="ui orange label"
          >
            <i class="warning icon"></i>
            {{analysis.maxProjection}}
          </div>
        {{/if}}
      </th>
      <th class="two wide">
        Students Introduced by No Action Residential Development
      </th>
      <th class="two wide">
        Total No Action Enrollment
      </th>
      <th class="one wide">
        Capacity
      </th>
      <th class="one wide">
        Available Seats
      </th>
      <th class="one wide">
        Utilization (%)
      </th>
    </tr>
  </thead>

  <thead>
    <tr>
      <th colspan="7">
        Primary Schools
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each analysis.psLevelTotals.subdistrictTotals as |p|}}
      <tr>
        <td>
          {{p.sdName}}
        </td>
        <td>
          {{p.enroll}}
        </td>
        <td class="math--left">
          <i class="plus circle icon"></i>
          {{p.students}}
        </td>
        <td>
          {{p.enrollNoAction}}
        </td>
        <td>
          {{p.capacityNoAction}}
        </td>
        <td>
          {{p.seatsNoAction}}
        </td>
        <td>
          {{percentage p.utilizationNoAction}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  {{#if analysis.multiSubdistrict}}
    <tr>
      <td>
        <em>
          Totals across study area
        </em>
      </td>
      <td>
        <em>
          {{analysis.psLevelTotals.enrollTotal}}
        </em>
      </td>
      <td class="math--left">
        <i class="plus circle icon"></i>
        <em>
          {{analysis.psLevelTotals.studentsTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.psLevelTotals.enrollNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.psLevelTotals.capacityNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.psLevelTotals.seatsNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{percentage analysis.psLevelTotals.utilizationNoActionTotal}}
        </em>
      </td>
    </tr>
  {{/if}}

  <thead>
    <tr>
      <th colspan="7">
        Intermediate Schools
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each analysis.isLevelTotals.subdistrictTotals as |p|}}
      <tr>
        <td>
          {{p.sdName}}
        </td>
        <td>
          {{p.enroll}}
        </td>
        <td class="math--left">
          <i class="plus circle icon"></i>
          {{p.students}}
        </td>
        <td>
          {{p.enrollNoAction}}
        </td>
        <td>
          {{p.capacityNoAction}}
        </td>
        <td>
          {{p.seatsNoAction}}
        </td>
        <td>
          {{percentage p.utilizationNoAction}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  {{#if analysis.multiSubdistrict}}
    <tr>
      <td>
        <em>
          Totals across study area
        </em>
      </td>
      <td>
        <em>
          {{analysis.isLevelTotals.enrollTotal}}
        </em>
      </td>
      <td class="math--left">
        <i class="plus circle icon"></i>
        <em>
          {{analysis.isLevelTotals.studentsTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.isLevelTotals.enrollNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.isLevelTotals.capacityNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{analysis.isLevelTotals.seatsNoActionTotal}}
        </em>
      </td>
      <td>
        <em>
          {{percentage analysis.isLevelTotals.utilizationNoActionTotal}}
        </em>
      </td>
    </tr>
  {{/if}}
  
  {{#if analysis.hsAnalysis}}
    <thead>
      <tr>
        <th colspan="7">
          High Schools
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each analysis.hsLevelTotals.subdistrictTotals as |p|}}
        <tr>
          <td>
            {{analysis.borough}}
          </td>
          <td>
            {{p.enroll}}
          </td>
          <td class="math--left">
            <i class="plus circle icon"></i>
            {{p.students}}
          </td>
          <td>
            {{p.enrollNoAction}}
          </td>
          <td>
            {{p.capacityNoAction}}
          </td>
          <td>
            {{p.seatsNoAction}}
          </td>
          <td>
            {{percentage p.utilizationNoAction}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
</table>
<div class="ui icon message">
  <i class="database icon"></i>
  <div class="content">
    <div class="header">
      <a
        target="_blank"
        rel="noopener"
        href="http://www.nycsca.org/Community/Capital-Plan-Reports-Data#Demographic-Projection-68"
      >
        Enrollment Projections for New York City Public Schools by the Statistical Forecasting [
        {{school-year analysis.dataPackage.schemas.sca_enrollment_projections_by_sd}}
        ]
        <i class="external alternate icon"></i>
      </a>
    </div>
    <p>
      The demographic projections take into account the birth, enrollment, and migration trends for five and ten years into the future.
      The enrollment projection is then combined with projected housing growth to derive the total projected enrollment.
    </p>
    <div class="header">
      <a
        target="_blank"
        rel="noopener"
        href="http://www.nycsca.org/Community/Capital-Plan-Reports-Data#Housing-Projections-70"
      >
        Projected New Housing Starts as Used in Enrollment Projections [
        {{school-year analysis.dataPackage.schemas.sca_housing_pipeline_by_sd}}
        ]
        <i class="external alternate icon"></i>
      </a>
    </div>
    <p>
      The Department of Education collaborates with other City Agencies to develop a comprehensive list of new 
      housing starts and incorporates the expected increase in school-age population into its projections.
    </p>
  </div>
</div>