{{#if public-schools.fullReload.isIdle}}
  {{#if showMap}}
    <div class="sixteen wide column">
      <PublicSchools::ProjectMap
        @project={{model.project}}
        @analysis={{model.publicSchoolsAnalysis}}
      />
    </div>
  {{/if}}
  <div class="sixteen wide column">
    <PublicSchools::ExistingConditions::ExistingConditionsSteps
      @analysis={{model.publicSchoolsAnalysis}}
      @project={{project}}
    />
  </div>
  <div class="sixteen wide column">
    {{outlet}}
  </div>
{{/if}}