<div class="sixteen wide column">
  <PublicSchools::StudentsGenerated
    @project={{this.project}}
    @analysis={{this.model.publicSchoolsAnalysis}}
   />

</div>
<div class="sixteen wide column">
  <PublicSchools::Summary
    @project={{this.project}}
    @analysis={{this.model.publicSchoolsAnalysis}}
   />

  <div
    class="ui inverted dimmer
      {{if this.public-schools.fullReload.isRunning "active"}}"
  >
    <div class="ui text loader">
      Loading
    </div>
  </div>
</div>