<div class="ui message">
  <p>
    Select 1 or more BBLs included in the project area.
  </p>
  <p>
    BBLs should be formatted as a 10 digit number
  </p>
  <ul>
    <li>
      This is correct:
      <div class="ui horizontal green label">
        1001440001
      </div>
    </li>
    <li>
      This is incorrect:
      <div class="ui horizontal red label">
        1/0014/40001
      </div>
      <div class="ui horizontal red label">
        1/14/431
      </div>
    </li>
  </ul>
</div>
<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="ui action input">
        <form class="ui form" {{action "addBbl" bbl on="submit"}}>
          <div class="inline fields">
            <div class="field">
              <div class="ui action input">
                {{input
                  type="text"
                  name="bbl"
                  value=bbl
                  placeholder="BBL"
                  maxlength=10
                  enter=(action "addBbl")
                  data-test-bbl-list="bbl-input"
                }}
                <button
                  type="submit"
                  class="ui primary button"
                  data-test-bbl-list="bbl-add"
                >
                  Add
                </button>
              </div>
            </div>
            <div class="field">
              <a
                href="https://zola.planning.nyc.gov"
                target="_blank"
                rel="noopener"
              >
                ZoLa
                <i class="external alternate icon"></i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{#if error}}
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui error message">
          {{error.message}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if project.bbls}}
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui basic large label">
          {{borough}}
        </div>
        <div class="ui basic large label">
          MapPLUTO version:
          <div class="detail">
            {{bblsVersion}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui horizontal list">
          {{#each project.bbls as |bbl|}}
            <div class="item">
              <div class="ui label">
                <a
                  href="https://zola.planning.nyc.gov/bbl/{{bbl}}"
                  target="_blank"
                  rel="noopener"
                >
                  {{bbl}}
                </a>
                <i class="close link icon" {{action "removeBbl" bbl}}></i>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</div>