<p>
  Define your Project Area by selecting one or more <strong>tax lots</strong> from the map or by entering your BBL number(s) below. 
  <a href="https://zola.planning.nyc.gov" target="_blank" rel="noopener noreferrer">ZoLa <i class="external alternate icon"></i></a>
</p>
<div class="ui grid">
  <div class="six wide column">
    <div class="row">
      <Analysis::DataPackageSelector 
        @currentPackage={{this.project.dataPackage}}
        @availablePackages={{this.mapplutoVersions}}
        @changeDataPackageAction={{this.changeDataPackage}}
      />
    </div>
    
    <div class="row">
      <div class="ui action input">
        <form class="ui form" {{action "addBbl" this.bbl on="submit"}}>
          <div class="inline fields">
            <div class="field">
              <div class="ui action input">
                <Input
                  aria-label="borough block and lot number"
                  @type="text"
                  name="bbl"
                  @value={{this.bbl}}
                  placeholder="BBL (ex 1001440001)"
                  maxlength={{10}}
                  {{on "enter" this.addBbl}}
                  data-test-bbl-list="bbl-input"
                />
                <button
                  type="submit"
                  class="ui primary button"
                  data-test-bbl-list="bbl-add"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <p>Selected BBLs</p>
    </div>

    <div class="row">
      <div class="ui list">
        {{#each this.project.bbls as |bbl|}}
          <div class="item">
            <div class="ui label">
              <a
                href="https://zola.planning.nyc.gov/bbl/{{bbl}}"
                target="_blank" rel="noopener noreferrer" style="color: #1e70bf;"
              >
                {{bbl}}
              </a>
              <i role="button" class="close link icon" {{on "click" (fn this.removeBbl bbl)}}></i>
            </div>
          </div>
        {{/each}}
      </div>
    </div>


  </div>
  <div class="ten wide column">
    <Project::ProjectAreaSelectorMap 
      @project={{this.project}}
      @toggleBbl={{action "toggleBbl"}}
    />
  </div>
  {{#if this.error}}
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui error message">
          {{this.error.message}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
