<div class="ui grid">
  {{#if schools-capacity.initialLoad.isIdle}}
    <div class="row">
      <div class="sixteen wide column">     
        <div class="ui grey segment">
          <h3 style="display: inline;">
            Does this project require a detailed analysis of potential indirect effects on public school capacity?
          </h3>
          <div
            style="display: inline-block;" 
            class="ui big label {{if project.indirectEffect "yellow" "grey"}}"
          >
            {{if project.indirectEffect "Yes" "No"}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sixteen wide column">
        {{public-schools/analysis-threshold/threshold-result project=project}}
      </div>
    </div>

    <div class="row">
      
      <div class="sixteen wide column">
        {{#ui-dropdown
          class="selection"
          selected=project.manualVersion
          onChange=(action "changeManualVersion")
        }}

          <div class="default text">Multipliers</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div data-value="march-2014" class="item">March 2014</div>
            <div data-value="november-2018" class="item">November 2018</div>
          </div>
        {{/ui-dropdown}}
      </div>
    </div>

    {{#if (eq project.manualVersion "march-2014")}}
      <div class="row">
        <div class="eight wide column">
          {{public-schools/analysis-threshold/mar-2014-multipliers project=project}}
        </div>
        
        <div class="eight wide column">
          {{public-schools/analysis-threshold/mar-2014-thresholds project=project}}
        </div>
      </div>
    {{else if (eq project.manualVersion "november-2018")}}
      <div class="row">
        <div class="sixteen wide column">
          {{public-schools/analysis-threshold/nov-2018-multipliers project=project}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>