<table class='ui celled structured unstackable table'>
  <thead>
    <tr>
      <th></th>
      <th class="center aligned" colspan="2">ACS</th>
      <th class="center aligned" colspan="2">CTPP</th>
    </tr>
    <tr>
      <th></th>
      <th>Population: </th>
      <th data-test-population>{{acsData.population.value}}</th>
      <th>Workers: </th>
      <th data-test-workers>{{ctppData.workers.value}}</th>
    </tr>
    <tr>
      <th>Mode</th>
      <th>Count</th>
      <th>Percent</th>
      <th>Count</th>
      <th>Percent</th>
    </tr>

  </thead>
  <tbody>
    {{#each this.displayVariables as |variable|}}
      <tr>
       <td data-test-mode={{variable}}>{{get (get acsData variable) 'mode'}}</td>
       <td class="single line" data-test-acs-value={{variable}}>
         {{get-split-value acsData variable}}<span class="moe"> {{get-split-moe acsData variable}}</span>
       </td>
       <td class="single line" data-test-acs-percent={{variable}}>
         {{get-split-percent acsData (array variable)}}
        </td>
       <td class="single line" data-test-ctpp-value={{variable}}>
         {{get-split-value ctppData variable}}<span class="moe"> {{get-split-moe ctppData variable}}</span>
       </td>
       <td class="single line" data-test-ctpp-percent={{variable}}>
         {{get-split-percent ctppData (array variable)}}
       </td>
     </tr>
    {{/each}}
  </tbody>
</table>
