<div class="row">
  <div class="sixteen wide column">
      <div class="ui top attached clearing segment">
        {{#link-to "project.show" project.id class="ui left floated project title"}}
          <h1>{{project.name}}</h1>
        {{/link-to}}

        <div class="ui right floated horizontal list">
          <div class="item">
            {{#if project.ceqr_number}}
              <div class="ui label large">
                  CEQR #
                  <div class="detail">{{project.ceqr_number}}</div>
              </div> 
            {{/if}}
          </div>

          <div class="item">
            <div class="ui label large">
              {{project.borough}}
            </div>
          </div>

          <div class="item">
            <div class="ui label large" data-tooltip="Build Year" data-position="bottom center" data-inverted="">
              <i class="calendar alternate icon"></i>{{project.buildYear}}
            </div> 
          </div>

          <div class="item">
            {{#link-to 'project.show.edit' project.id class="ui primary compact icon button"}}
              <i class="edit icon"></i>
              Edit
            {{/link-to}}
          </div>
        </div>
      </div>

      <div class="ui bottom attached clearing segment">
        {{#ui-dropdown selected=currentChapter onChange=(action 'gotoChapter') class="chapter-dropdown"}}
          <div class="default text">Select Chapter</div>
          <i class="dropdown icon"></i>
          <div class="menu">
              <div data-value="schools-capacity" class="item">
                <h3>
                  <i class="building icon"></i>
                  Public Schools
                </h3>
              </div>
              <div data-value="transportation" class="item">
                <h3>
                  <i class="subway icon"></i>
                  Transportation
                </h3>
              </div>
          </div>
        {{/ui-dropdown}}

        {{#if (eq currentChapter 'schools-capacity')}}
          {{#link-to 'project.show.summary.schools-capacity' project.id class="ui right floated basic teal compact icon button"}}
            <i class="columns icon"></i>
            Summary
          {{/link-to}}

          {{#link-to 'project.show.schools-capacity' project.id class="ui right floated basic teal compact icon button"}}
            <i class="columns icon"></i>
            Workbook
          {{/link-to}}
        {{/if}}
      </div>
  </div>
</div>

{{outlet}}
