<h4 class="ui header top attached">Person Trips</h4>

  <table class="ui celled bottom attached table">
    <thead>
      <tr>
        <th class="four wide">
          Mode
        </th>
        <th class="two wide">
          In
        </th>
        <th class="two wide">
          Out
        </th>
        <th class="two wide">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.rows as |row|}}
        <tr>
          <td>{{mode-label row.mode}}</td>
          <td>{{row.in}}</td>
          <td>{{row.out}}</td>
          <td>{{row.total}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr class="ui warning">
        <td>TOTAL</td>
        <td>{{this.total.in}}</td>
        <td>{{this.total.out}}</td>
        <td>{{this.total.total}}</td>
      </tr>
      <tr>
        <td>
          <Transportation::Tdf::TableNote
            @tableName="personTrips"
            @factor={{this.factor}}
          />
        </td>
      </tr>
    </tfoot>
  </table>
