  <h4 class="ui header top attached">Vehicle Trips</h4>

  <table class="ui celled bottom attached table">
    <thead>
      <tr>
        <th class="four wide">
          Mode
        </th>
        <th class="two wide">
          In
        </th>
        <th class="two wide">
          Out
        </th>
        <th class="two wide">
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each rows as |row|}}
        {{#if (and (eq row.mode "taxi") balancedTaxi)}}
          <tr>
            <td>
              {{mode-label row.mode}} 
              <div class="ui small label" style="cursor: pointer;" onClick={{action toggleBalancedTaxi}}>Balanced</div>
            </td>
            <td>{{row.in}}</td>
            <td>{{row.out}}</td>
            <td>{{row.total}}</td>
          </tr>
        {{else if (and (eq row.mode "taxi") (not balancedTaxi))}}
          <tr>
            <td>
              {{mode-label row.mode}} 
              <div class="ui small red label" style="cursor: pointer;" onClick={{action toggleBalancedTaxi}}>Unbalanced</div>
            </td>
            <td class="error">{{row.unbalancedIn}}</td>
            <td class="error">{{row.unbalancedOut}}</td>
            <td class="error">{{row.unbalancedTotal}}</td>
          </tr>
        {{else}}
          <tr>
            <td>{{mode-label row.mode}}</td>
            <td>{{row.in}}</td>
            <td>{{row.out}}</td>
            <td>{{row.total}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr class="ui warning">
        <td>TOTAL</td>
        <td>{{total.in}}</td>
        <td>{{total.out}}</td>
        <td>{{total.total}}</td>
      </tr>
    </tfoot>
  </table>
