<td>
  {{#if editModes}}
    <UiCheckbox
      @checked={{modeActive}}
      @value={{mode}}
      @onChecked={{action addActiveMode}}
      @onUnchecked={{action removeActiveMode}}
    />  
  {{/if}}

  {{mode-label mode}}
</td>

{{#if showInput}}
  {{#if showTemporalModeSplits}}
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=amPercent data-test-modal-split-input-am=mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=mdPercent data-test-modal-split-input-md=mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=pmPercent data-test-modal-split-input-pm=mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=satPercent data-test-modal-split-input-saturday=mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
  {{else}}
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=allPeriodPercent data-test-modal-split-input-allperiods=mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
  {{/if}}
{{else}}    
  <td>
    {{allPeriodPercent}} % ({{count}})
  </td>
{{/if}}


{{yield}}
