<td data-test-row-mode-title={{this.mode}}>
  {{#if this.editModes}}
    <UiCheckbox
      @checked={{this.modeActive}}
      @value={{this.mode}}
      @onChecked={{action this.addActiveMode}}
      @onUnchecked={{action this.removeActiveMode}}
      data-test-checkbox={{this.mode}}
    />  
  {{/if}}

  {{mode-label this.mode}}
</td>

{{#if this.showInput}}
  {{#if this.showTemporalModeSplits}}
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=this.amPercent data-test-modal-split-input-am=this.mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=this.mdPercent data-test-modal-split-input-md=this.mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=this.pmPercent data-test-modal-split-input-pm=this.mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=this.satPercent data-test-modal-split-input-saturday=this.mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
  {{else}}
    <td>
      <div class="ui right labeled input">
        {{input type="number" max="100" min="0" step="0.1" value=this.allPeriodPercent data-test-modal-split-input-allperiods=this.mode}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </td>
  {{/if}}
{{else}}    
  <td data-test-all-period-percent-value={{this.mode}}>
    {{this.allPeriodPercent}} % ({{this.count}})
  </td>
{{/if}}


{{yield}}
