<h4 class="ui header attached top">
  Impact & Mitigation
</h4>
{{! template-lint-disable table-groups }}
<table class="ui attached celled table">
  <thead>
    <tr>
      <th>
        School Level
      </th>
      <th>
        Utilization (%) with Project
      </th>
      <th>
        Change in Utilization (%) from No Action
      </th>
      <th>
        Triggers a Significant Adverse Impact
      </th>
      <th>
        Estimated Seats to Mitigate
      </th>
      <th>
        Equivalent Reduction in Units
      </th>
    </tr>
  </thead>
 
  <tbody>
    <tr class={{if this.analysis.psLevelTotals.impact "negative"}}>
      <td>
        Primary Schools
      </td>
      <TdHover @payload={{hash name="utilizationWithAction" level="analysis.psLevelTotals"}}>
        {{percentage this.analysis.psLevelTotals.utilizationWithActionTotal}}
      </TdHover>
      <TdHover @payload={{hash name="utilizationChange" level="analysis.psLevelTotals"}}>
        {{percentage this.analysis.psLevelTotals.utilizationChangeTotal decimals=2}}
      </TdHover>
      <td>
        {{#if this.analysis.psLevelTotals.impact}}
          <div
            class="ui red label"
            data-tooltip="Utilization with project is 100% or higher (at
              {{percentage this.analysis.psLevelTotals.utilizationWithActionTotal}}
                ) and Change in Utilization is 5% or higher (at
              {{percentage this.analysis.psLevelTotals.utilizationChangeTotal decimals=2}}
                )"
            data-inverted
          >
            <i class="warning icon"></i>
            Likely
          </div>
        {{else}}
          <div
            class="ui green label"
            data-tooltip="Utilization with project is below 100% or change in utilization is below 5%"
            data-inverted
          >
            <i class="check icon"></i>
            No
          </div>
        {{/if}}
      </td>
      <td>
        {{if this.analysis.psLevelTotals.impact this.analysis.psLevelTotals.mitigateSeatCount "n/a"}}
      </td>
      <td>
        {{if this.analysis.psLevelTotals.impact this.analysis.psLevelTotals.mitigateUnitCount "n/a"}}
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr class={{if this.analysis.isLevelTotals.impact "negative"}}>
      <td>
        Intermediate Schools
      </td>
      <TdHover @payload={{hash name="utilizationWithAction" level="is"}}>
        {{percentage this.analysis.isLevelTotals.utilizationWithActionTotal}}
      </TdHover>
      <TdHover @payload={{hash name="utilizationChange" level="is"}}>
        {{percentage this.analysis.isLevelTotals.utilizationChangeTotal decimals=2}}
      </TdHover>
      <td>
        {{#if this.analysis.isLevelTotals.impact}}
          <div
            class="ui red label"
            data-tooltip="Utilization with project is 100% or higher (at
              {{percentage this.analysis.isLevelTotals.utilizationWithActionTotal}}
                ) and Change in Utilization is 5% or higher (at
              {{percentage this.analysis.isLevelTotals.utilizationChangeTotal decimals=2}}
                )"
            data-inverted
          >
            <i class="warning icon"></i>
            Likely
          </div>
        {{else}}
          <div
            class="ui green label"
            data-tooltip="Utilization with project is below 100% or change in utilization is below 5%"
            data-inverted
          >
            <i class="check icon"></i>
            No
          </div>
        {{/if}}
      </td>
      <td>
        {{if this.analysis.isLevelTotals.impact this.analysis.isLevelTotals.mitigateSeatCount "n/a"}}
      </td>
      <td>
        {{if this.analysis.isLevelTotals.impact this.analysis.isLevelTotals.mitigateUnitCount "n/a"}}
      </td>
    </tr>
  </tbody>

  {{#if this.analysis.hsAnalysis}}
    <tbody>
      <tr class={{if this.analysis.hsLevelTotals.impact "negative"}}>
        <td>
          High Schools
        </td>
        <TdHover @payload={{hash name="utilizationWithAction" level="hs"}}>
          {{percentage this.analysis.hsLevelTotals.utilizationWithActionTotal}}
        </TdHover>
        <TdHover @payload={{hash name="utilizationChange" level="hs"}}>
          {{percentage this.analysis.hsLevelTotals.utilizationChangeTotal decimals=2}}
        </TdHover>
        <td>
          {{#if this.analysis.hsLevelTotals.impact}}
            <div
              class="ui red label"
              data-tooltip="Utilization with project is 100% or higher (at
                {{percentage this.analysis.hsLevelTotals.utilizationWithActionTotal}}
                 ) and Change in Utilization is 5% or higher (at
                {{percentage this.analysis.hsLevelTotals.utilizationChangeTotal decimals=2}}
                 )"
              data-inverted
            >
              <i class="warning icon"></i>
              Likely
            </div>
          {{else}}
            <div
              class="ui green label"
              data-tooltip="Utilization with project is below 100% or change in utilization is below 5%"
              data-inverted
            >
              <i class="check icon"></i>
              No
            </div>
          {{/if}}
        </td>
        <td>
          {{if this.analysis.hsLevelTotals.impact this.analysis.hsLevelTotals.mitigateSeatCount "n/a"}}
        </td>
        <td>
          {{if this.analysis.hsLevelTotals.impact this.analysis.hsLevelTotals.mitigateUnitCount "n/a"}}
        </td>
      </tr>
    </tbody>
  {{/if}}
</table>
<div class="ui icon warning message attached bottom">
  <i class="attention icon"></i>
  <div class="content">
    The conclusions displayed in the tool are preliminary and will not reflect departures in analytical approach from CTM guidelines when deemed appropriate by the lead agency.
  </div>
</div>