<div class="sixteen wide column" style="margin-bottom: 10px;">
  <div class="row">
    <div class="eight wide column">
      <h3 class="ui header left floated">Modal Splits</h3>
    </div>
  </div>
</div>

{{#if this.manualModeSplits}}
  <div class="{{if this.factor.temporalModeSplits "sixteen" "eight"}} wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <td class="four wide">
            <div class="ui small buttons">
              <button class="ui button {{if this.factor.manualModeSplits "positive"}}" onClick={{action this.toggleManualModeSplits}} type="button">Manual</button>
              <div class="or"></div>
              <button 
                class="ui button {{unless this.factor.manualModeSplits "positive"}}" 
                onClick={{action this.toggleCensusTractModeSplits}}
                data-test-button="census tracts tab" type="button">
                Census Tracts
              </button>
            </div>
          </td>
          <td colspan={{if this.factor.temporalModeSplits "4" "1"}}>
            <div class="ui small buttons">
              <button 
                class="ui button {{if this.factor.temporalModeSplits "positive"}}" 
                onClick={{action this.toggleTemporalModeSplits true}}
                data-test-button="temporal splits tab" type="button">
                Temporal Splits
              </button>
              <div class="or"></div>
              <button 
                class="ui button {{unless this.factor.temporalModeSplits "positive"}}" 
                onClick={{action this.toggleTemporalModeSplits false}}
                data-test-button="all periods tab" type="button">
                All Periods
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <th class="four wide">
            <span style="color: #2185D0;">Mode</span>
              {{#if this.editModes}}
                <div role="button" class="ui tiny blue button" onClick={{action "toggleEditModes"}} data-test-button="exit edit mode">
                  Ok
                </div>
              {{else}}
                <i role="button" class="icon blue pencil alternate" onClick={{action "toggleEditModes"}} style="cursor: pointer;" data-test-button="enter edit mode"></i>
              {{/if}}
          </th>
          {{#if this.factor.temporalModeSplits}}
            <th class="two wide" data-test-column-title="am">
              AM
            </th>
            <th class="two wide">
              MD
            </th>
            <th class="two wide">
              PM
            </th>
            <th class="two wide">
              Sat
            </th>
          {{else}}
            <th class="four wide" data-test-column-title="all periods">
              All Periods
            </th>
          {{/if}}

        </tr>
      </thead>
      <tbody class="ui form {{if this.censusTracksChanging.isRunning "loading"}}">
        {{#each this.activeModes as |mode|}}
          <Transportation::Tdf::ModalSplits::TableRow
            @mode={{mode}}
            @modeActive={{true}}
            @addActiveMode={{this.addActiveMode}}
            @removeActiveMode={{this.removeActiveMode}}
            
            @modeSplits={{this.modeSplits}}
            
            @showInput={{this.manualModeSplits}}
            @showTemporalModeSplits={{this.factor.temporalModeSplits}}
            @editModes={{this.editModes}}
            data-test-active-mode={{mode}}
          />
        {{/each}}

        <tr class="warning">
          <td><strong>TOTAL</strong></td>          
          {{#if this.factor.temporalModeSplits}}
            <td data-test-total-am>{{this.total.am}}</td>
            <td data-test-total-md>{{this.total.md}}</td>
            <td data-test-total-pm>{{this.total.pm}}</td>
            <td data-test-total-saturday>{{this.total.saturday}}</td>
          {{else}}
            <td data-test-total-all-periods>
              {{this.total.allPeriods}} % 
              {{#unless this.manualModeSplits}}
                ({{this.total.count}})
              {{/unless}}
            </td>
          {{/if}}
        </tr>
    
        {{#if this.editModes}}
          {{#each this.inactiveModes as |mode|}}
            <Transportation::Tdf::ModalSplits::TableRow
              @mode={{mode}}
              @addActiveMode={{this.addActiveMode}}
              @removeActiveMode={{this.removeActiveMode}}
              
              @modeSplits={{this.modeSplits}}
              
              @showInput={{this.manualModeSplits}}
              @showTemporalModeSplits={{this.factor.temporalModeSplits}}
              @editModes={{this.editModes}}
              data-test-inactive-mode={{mode}}
            />
          {{/each}}
        {{/if}}
        <tr>
          <td colspan={{if this.factor.temporalModeSplits "5" "2"}}>
            <Transportation::Tdf::TableNote 
              @tableName="modalSplits"
              @factor={{this.factor}}
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{else}}
  <div class="sixteen wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <td>
            <div class="ui small buttons">
              <button 
                class="ui button {{if this.factor.manualModeSplits "positive"}}" 
                onClick={{action this.toggleManualModeSplits}}
                data-test-button="manual tab" type="button">
                Manual
              </button>
              <div class="or"></div>
              <button class="ui button {{unless this.factor.manualModeSplits "positive"}}" onClick={{action this.toggleCensusTractModeSplits}} type="button">Census Tracts</button>
            </div>
          </td>
          <td>
            {{!-- Census Tract calculations only product on period --}}
          </td>
          <td colspan={{if this.seeCensusTracts (add this.this.analysis.censusTractsSelection.length this.analysis.requiredCensusTractsSelection.length) 1}}>
            <div class="ui small buttons">
              <button class="ui button {{unless this.seeCensusTracts "positive"}}" onClick={{action this.toggleSeeCensusTracts false}} type="button">Map</button>
              <div class="or"></div>
              <button 
                class="ui button {{if this.seeCensusTracts "positive"}}" 
                onClick={{action this.toggleSeeCensusTracts true}}
                data-test-census-tracts-table-tab type="button">
                Table
              </button>
            </div>
            
            <Analysis::DataPackageSelector
              style="display: inline-block;"
              @currentPackage={{this.factor.dataPackage}}
              @availablePackages={{this.availablePackages}}
              @changeDataPackageAction={{action this.changeDataPackage}}
            />
          </td>
        </tr>
        <tr>
          <th class="four wide">
            <span style="color: #2185D0;">Mode</span>
              {{#if this.editModes}}
                <div role="button" class="ui tiny blue button" onClick={{action "toggleEditModes"}}>
                  Ok
                </div>
              {{else}}
                <i role="button" class="icon blue pencil alternate" onClick={{action "toggleEditModes"}} style="cursor: pointer;"></i>
              {{/if}}
          </th>
          <th class="four wide">
            All Periods
          </th>
          {{#if this.seeCensusTracts}}
            {{#each this.analysis.requiredCensusTractsSelection as |geoid|}}
              <th>
                <div class="ui grey label">
                  {{humanize-geoid geoid}}
                </div>
              </th>
            {{/each}}
            {{#each this.analysis.censusTractsSelection as |geoid|}}
              <th>
                <div class="ui label" style="display: flex;" data-test-census-tract={{humanize-geoid geoid}}>
                  {{humanize-geoid geoid}}
                  <i role="button" class="delete icon" onclick={{action this.removeCensusTract geoid}} data-test-census-tract-delete></i>
                </div>
              </th>
            {{/each}}
          {{else}}
            <th class="eight wide">
              Selected Tracts
              {{#each this.analysis.requiredCensusTractsSelection as |geoid|}}
                <div class="ui grey label">
                  {{humanize-geoid geoid}}
                </div>
              {{/each}}
              {{#each this.analysis.censusTractsSelection as |geoid|}}
                <div class="ui label">
                  {{humanize-geoid geoid}}
                  <i role="button" class="delete icon" onclick={{action this.removeCensusTract geoid}}></i>
                </div>
              {{/each}}
            </th>
          {{/if}}
        </tr>
      </thead>
      <tbody class="ui form {{if this.censusTracksChanging.isRunning "loading"}}">
        {{#each this.activeModes as |mode idx|}}
          <Transportation::Tdf::ModalSplits::TableRow
            @mode={{mode}}
            @modeActive={{true}}
            @addActiveMode={{this.addActiveMode}}
            @removeActiveMode={{this.removeActiveMode}}
            
            @modeSplits={{this.modeSplits}}
            
            @showInput={{this.manualModeSplits}}
            @showTemporalModeSplits={{this.factor.temporalModeSplits}}
            @editModes={{this.editModes}}
          >
            {{#if (eq idx 0)}}
              <td rowspan={{add this.activeModes.length 1}} style={{if this.seeCensusTracts "display:none;" ""}}>
                <Transportation::Tdf::ModalSplits::CensusTractsMap 
                  @analysis={{this.analysis}}
                  @project={{this.project}}
                  @factor={{this.factor}}
                  @addCensusTract={{action this.addCensusTract}}
                  @removeCensusTract={{action this.removeCensusTract}}
                />
              </td>
            {{/if}}

            {{#if this.seeCensusTracts}}
              {{#each this.censusTractVariables as |tract|}}
                <Transportation::Tdf::ModalSplits::CensusTractTableCell
                  @mode={{mode}}
                  @tract={{tract}}
                />
              {{/each}}
            {{/if}}

          </Transportation::Tdf::ModalSplits::TableRow>
        {{/each}}

        <tr class="warning">
          <td><strong>TOTAL</strong></td>
          <td>
            {{this.total.allPeriods}} % 
            {{#unless this.manualModeSplits}}
              ({{this.total.count}})
            {{/unless}}  
          </td>

          {{#if this.seeCensusTracts}}
            {{#each this.censusTractVariables as |tract|}}
              <Transportation::Tdf::ModalSplits::CensusTractTableCell::Total
                @tract={{tract}}
                @activeModes={{this.activeModes}}
              />
            {{/each}}
          {{/if}}
        </tr>
    
        {{#if this.editModes}}
          {{#each this.inactiveModes as |mode|}}
            <Transportation::Tdf::ModalSplits::TableRow
              @mode={{mode}}
              @addActiveMode={{this.addActiveMode}}
              @removeActiveMode={{this.removeActiveMode}}
              
              @modeSplits={{this.modeSplits}}
              
              @showInput={{this.manualModeSplits}}
              @showTemporalModeSplits={{this.factor.temporalModeSplits}}
              @editModes={{this.editModes}}
            />
          {{/each}}
        {{/if}}
        <tr>
          <td colspan="2">
            <Transportation::Tdf::TableNote 
              @tableName="modalSplits"
              @factor={{this.factor}}
            />
          </td>
          <td colspan={{if this.seeCensusTracts (add this.analysis.censusTractsSelection.length this.analysis.requiredCensusTractsSelection.length) 1}}></td>
        </tr>
      </tbody>
    </table>
  </div>
{{/if}}
