<strong>
  {{#if (and this.emptyNote (not this.addingNote))}}
    <a role="button" style="cursor: pointer" class="ui link blue" data-test-button="add note" {{on "click" (fn this.setIsAddingNote true)}}>
      Add Note
    </a>
  {{else if this.addingNote}}
    <a role="button" style="cursor: pointer" class="ui link blue" data-test-button="save note" {{on "click" this.saveNote}}>
      Save Note
    </a>
  {{else}}
    <a role="button" style="cursor: pointer" class="ui link blue" {{on "click" (fn this.setIsAddingNote true)}}>
      Edit Note
    </a>
  {{/if}}
</strong>

{{#if this.addingNote}}
  <div class="ui form">
    <div class="field">
      <Textarea
        aria-label="table note"
        name="note"
        @value={{this.tableNote}}
        rows="4"
        data-test-text-area="table note"
     /> 
    </div>
  </div>
{{else if (not this.emptyNote)}}
  <p style="color: #767676" data-test-text="table note">{{this.tableNote}}</p>
{{/if}}
