<strong>
  {{#if (and emptyNote (not addingNote))}}
    <a style="cursor: pointer" class="ui link blue" data-test-button="add note" onClick={{action (mut addingNote) true}}>
      Add Note
    </a>
  {{else if addingNote}}
    <a style="cursor: pointer" class="ui link blue" data-test-button="save note" onClick={{action saveNote}}>
      Save Note
    </a>
  {{else}}
    <a style="cursor: pointer" class="ui link blue" onClick={{action (mut addingNote) true}}>
      Edit Note
    </a>
  {{/if}}
</strong>

{{#if addingNote}}
  <div class="ui form">
    <div class="field">
      {{textarea
        name="note"
        value=tableNote
        rows="4"
        data-test-text-area="table note"
      }}
    </div>
  </div>
{{else if (not emptyNote)}}
  <p style="color: #767676" data-test-text="table note">{{tableNote}}</p>
{{/if}}
