<div class="sixteen wide column">
  <h3 class="ui header">Temporal Distribution</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="eight wide">Time of Day</th>
        <th class="eight wide">Percent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.data.am.label}}</td>
        <td>{{this.data.am.percent}} %</td>
      </tr>
      <tr>
        <td>{{this.data.md.label}}</td>
        <td>{{this.data.md.percent}} %</td>
      </tr>
      <tr>
        <td>{{this.data.pm.label}}</td>
        <td>{{this.data.pm.percent}} %</td>
      </tr>
      <tr>
        <td>{{this.data.saturday.label}}</td>
        <td>{{this.data.saturday.percent}} %</td>
      </tr>
      <tr>
        <td colspan="2">
          <Transportation::Tdf::TableNote 
            @tableName="temporalDistribution"
            @factor={{this.factor}}
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
