<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px">Trip Generation Rates</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="eight wide">Day</th>
        <th class="eight wide" data-test-total-per="{{factor.landUse}}">Total (Per {{factor.tripGenRatePerUnit}} {{factor.unitName}})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Day">{{data.weekday.label}}</td>
        <td data-label="Total">{{data.weekday.rate}}</td>
      </tr>
      <tr>
        <td data-label="Day">{{data.saturday.label}}</td>
        <td data-label="Total">{{data.saturday.rate}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <Transportation::Tdf::TableNote
            @tableName="tripGenerationRates"
            @factor={{factor}}
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="eight wide column">
</div>
