<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px">Trip Generation Rates</h3>
</div>

<div class="eight wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <th class="eight wide">Day</th>
        <th class="eight wide">Total (Per {{factor.tripGenRatePerUnit}} {{factor.unitName}})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Day">{{factor.tripGenerationRates.weekday.label}}</td>
        <td data-label="Total">{{factor.tripGenerationRates.weekday.rate}}</td>
      </tr>
      <tr>
        <td data-label="Day">{{factor.tripGenerationRates.saturday.label}}</td>
        <td data-label="Total">{{factor.tripGenerationRates.saturday.rate}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <Transportation::Tdf::TableNote 
            @tableName="tripGenerationRates"
            @factor={{factor}}
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="eight wide column">
  <button class="large ui primary button">
    Generate Trip Results
  </button>
</div>
