<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px">Vehicle Occupancy</h3>
</div>

<div class="{{if this.factor.temporalVehicleOccupancy "twelve" "eight"}} wide column">
  <table class="ui celled table">
    <thead>
      <tr>
        <td class="six wide"></td>
        <td class="three wide" colspan={{if this.factor.temporalVehicleOccupancy "4" "1"}}>
          <div class="ui small buttons">
            <button class="ui button {{if this.factor.temporalVehicleOccupancy "positive"}}" onClick={{action this.toggleTemporalVehicleOccupancy true}} type="button">Temporal Splits</button>
            <div class="or"></div>
            <button class="ui button {{unless this.factor.temporalVehicleOccupancy "positive"}}" onClick={{action this.toggleTemporalVehicleOccupancy false}} type="button">All Periods</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="three wide">Mode</th>
        {{#if this.factor.temporalVehicleOccupancy}}
          <th class="two wide">
            AM
          </th>
          <th class="two wide">
            MD
          </th>
          <th class="two wide">
            PM
          </th>
          <th class="two wide">
            Sat
          </th>
        {{else}}
          <th>All Periods</th>
        {{/if}}
      </tr>
    </thead>
    <tbody class="ui form">
      <tr>
        <td>
          {{mode-label "auto"}}
          {{#unless this.factor.manualModeSplits}}
            <UiPopup style="float: right;" @content="Average calculated using selected Census Tracts">
              <div class="ui basic blue horizontal label">
                {{this.factor.censusTractsCalculator.autoVehicleOccupancy}}

                <div class="detail"><i class="icon question circle"></i></div>
              </div>
            </UiPopup>
          {{/unless}}
        </td>

        {{#if this.factor.temporalVehicleOccupancy}}
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.auto.am}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.auto.md}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.auto.pm}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.auto.saturday}}</td>
        {{else}}
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.auto.allPeriods}}</td>
        {{/if}}
      </tr>
      <tr>
        <td>{{mode-label "taxi"}}</td>

        {{#if this.factor.temporalVehicleOccupancy}}
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.taxi.am}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.taxi.md}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.taxi.pm}}</td>
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.taxi.saturday}}</td>
        {{else}}
          <td>{{input type="number" step=".01" min="0" value=this.vehicleOccupancy.taxi.allPeriods}}</td>
        {{/if}}
      </tr>
      <tr>
        <td colspan="5">
          <Transportation::Tdf::TableNote
            @tableName="vehicleOccupancy"
            @factor={{this.factor}}
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
