<div class="row">
  <div class="sixteen wide column">
    <Transportation::DataSourceToggle
      @switch={{this.isRJTW}}
      @falseLabel="Journey To Work"
      @trueLabel="Reverse Journey To Work"
    />
    <Transportation::CensusTractsTable
      @isRJTW={{this.isRJTW}}
      @selectedCensusTractIds={{this.selectedCensusTractIds}}
      @acsModalSplits={{analysis.acsModalSplits}}
      @ctppModalSplits={{analysis.ctppModalSplits}}
      @modeLookup={{this.modeLookup}}
      @commuterModes={{this.commuterModes}}
    />
  </div>
</div>
