<div class="row">
  <div class="sixteen wide column">
    <Analysis::DataPackageSelector
      @dataPackageType="nyc_acs"
      @title="Journey to Work"
      @currentPackage={{this.analysis.nycAcsDataPackage}}
      @updateDataPackageAction={{this.analysis.updateDataPackage}}
    />
    <Analysis::DataPackageSelector
      @dataPackageType="ctpp"
      @title="Reverse Journey to Work"
      @currentPackage={{this.analysis.ctppDataPackage}}
      @updateDataPackageAction={{this.analysis.updateDataPackage}}
    />
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <Transportation::DataSourceToggle
      @switch={{this.isRJTW}}
      @falseLabel="Journey To Work"
      @trueLabel="Reverse Journey To Work"
    />
    <Transportation::CensusTractsTable
      @isRJTW={{this.isRJTW}}
      @selectedCensusTractIds={{this.selectedCensusTractIds}}
      @acsModalSplits={{this.analysis.acsModalSplits}}
      @ctppModalSplits={{this.analysis.ctppModalSplits}}
      @modeLookup={{this.modeLookup}}
      @commuterModes={{this.commuterModes}}
    />
  </div>
</div>
