<div class="ui grid">
  <div class="row" style="margin-top: 10px">
    <div class="sixteen wide column">

      <div class="ui icon message">
      <i class="ui huge red exclamation circle icon"></i>
        <div class="content">
          <div class="header">
            Important Note about Public Schools Data
          </div>
          <p>
            The CEQR Application's Public Schools analysis is currently being updated to reflect <a href="http://www.nycsca.org/community/capital-plan-reports-data" target="_blank" rel="noopener">newly-released data</a>. Please use the latest Public Schools analysis data until further notice. Thank you.
          </p>
        </div>
      </div>

      <div
        class="ui {{if analysis.detailedAnalysis "yellow" "grey"}} segment"
      >
        <h3>
          Does this project require a detailed analysis of potential indirect effects on public school capacity?
          <div
            class="ui big horizontal label
              {{if analysis.detailedAnalysis "yellow" "grey"}}"
          >
            {{if analysis.detailedAnalysis "Yes" "No"}}
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <PublicSchools::AnalysisThreshold::ThresholdResult
        @analysis={{analysis}}
        />

    </div>
  </div>
  {{#if (eq analysis.multiplierVersion "march-2014")}}
    <div class="row">
      <div class="sixteen wide column">
        <PublicSchools::AnalysisThreshold::MarTwentyFourteenMultipliers
          @analysis={{analysis}}
          />

      </div>
    </div>
  {{else if (eq analysis.multiplierVersion "november-2018")}}
    <div class="row">
      <div class="sixteen wide column">
        <PublicSchools::AnalysisThreshold::NovTwentyEighteenMultipliers
          @analysis={{analysis}}
          />

      </div>
    </div>
  {{/if}}
</div>