<div class="ui grid">
  {{#if public-schools.fullReload.isIdle}}
    <div class="row" style="margin-top: 10px">
      <div class="sixteen wide column">
        <div
          class="ui {{if analysis.detailedAnalysis "yellow" "grey"}} segment"
        >
          <h3>
            Does this project require a detailed analysis of potential indirect effects on public school capacity?
            <div
              class="ui big horizontal label
                {{if analysis.detailedAnalysis "yellow" "grey"}}"
            >
              {{if analysis.detailedAnalysis "Yes" "No"}}
            </div>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <PublicSchools::AnalysisThreshold::ThresholdResult
          @analysis={{analysis}}
         />

      </div>
    </div>
    {{#if (eq analysis.multiplierVersion "march-2014")}}
      <div class="row">
        <div class="sixteen wide column">
          <PublicSchools::AnalysisThreshold::Mar-2014-Multipliers
            @analysis={{analysis}}
           />

        </div>
      </div>
    {{else if (eq analysis.multiplierVersion "november-2018")}}
      <div class="row">
        <div class="sixteen wide column">
          <PublicSchools::AnalysisThreshold::Nov-2018-Multipliers
            @analysis={{analysis}}
           />

        </div>
      </div>
    {{/if}}
  {{/if}}
</div>