<div class="ui grid">
  <div class="row" style="margin-top: 10px">
    <div class="sixteen wide column">
      <div
        class="ui {{if this.analysis.detailedAnalysis "yellow" "grey"}} segment"
      >
        <h3>
          Does this project require a detailed analysis of potential indirect effects on public school capacity?
          <div
            class="ui big horizontal label
              {{if this.analysis.detailedAnalysis "yellow" "grey"}}"
          >
            {{if this.analysis.detailedAnalysis "Yes" "No"}}
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <PublicSchools::AnalysisThreshold::ThresholdResult
        @analysis={{this.analysis}}
        />

    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      {{#if (eq this.analysis.multiplierVersion "march-2014")}}
        <PublicSchools::AnalysisThreshold::MarTwentyFourteenMultipliers
          @analysis={{this.analysis}}
        />
      {{else if (eq this.analysis.multiplierVersion "november-2018")}}
        <PublicSchools::AnalysisThreshold::MultipliersByCsd
          @analysis={{this.analysis}}
          @year="2018"
        />
      {{else if (eq this.analysis.multiplierVersion "november-2019") }}
        <PublicSchools::AnalysisThreshold::MultipliersByCsd
          @analysis={{this.analysis}}
          @year="2019"
        />
      {{/if}}
    </div>
  </div>
</div>