<div class="ui segment top attached">
  <h4>
    {{this.project.name}}
    – Public School Students Generated
  </h4>
</div>
<table class="ui bottom attached celled table">
  <thead>
    <tr>
      <th>
        Build Year
      </th>
      <th>
        Housing Units for Analysis
      </th>
      <th>
        PS Students
      </th>
      <th>
        IS Students
      </th>
      <th>
        HS Students
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div
          class="ui label large"
          data-tooltip="Build Year"
          data-position="bottom center"
          data-inverted
        >
          <i class="calendar alternate icon"></i>
          {{this.project.buildYear}}
        </div>
      </td>
      <TdHover @payload={{hash name="housingFromDev"}}>
        {{this.project.netUnits}}
      </TdHover>
      <TdHover @payload={{hash name="studentsFromDev" level="ps"}}>
        {{this.analysis.estEsStudents}}
      </TdHover>
      <TdHover @payload={{hash name="studentsFromDev" level="is"}}>
        {{this.analysis.estIsStudents}}
      </TdHover>
      <TdHover @payload={{hash name="studentsFromDev" level="hs"}}>
        {{this.analysis.estHsStudents}}
      </TdHover>
    </tr>
  </tbody>
</table>