
  <div class="ui medium label">
    {{#if this.analysis.newDataAvailable}}
      <UiPopup
        @tagName="i"
        class="exclamation orange circle icon"
        @content="Update available"
        />
    {{/if}}
    Data Package:
    <div class="detail">
      {{#if this.project.viewOnly}}
        {{humanize this.analysis.dataVersion}}
      {{else}}
        <UiDropdown
          @selected={{this.analysis.dataVersion}}
          class="public-schools-data-dropdown"
        >
          <div class="text"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.availablePackages as |package|}}
              <div
                role="button"
                data-value={{package.version}}
                class="item"
                {{on "click" (fn this.changeDataPackage package)}}
              >
                {{package.name}}
              </div>
            {{/each}}
          </div>
        </UiDropdown>
      {{/if}}
    </div>
  </div>

