<div class="ui labels">
  {{#if project.viewOnly}}
    <div class="ui {{if dataOutdated "orange" "grey"}} medium label">
      {{#if dataOutdated}}
        {{ui-popup 
          tagName="i"
          class="exclamation circle icon"
          content="New data available"
        }}
      {{/if}}
      
      Data Package: 
      <div class="detail">{{humanize analysis.dataVersion}}</div>
    </div>
 
  {{else}}
    <div class="ui {{if dataOutdated "orange" "grey"}} medium label">
      {{#if dataOutdated}}
        {{ui-popup 
          tagName="i"
          class="exclamation circle icon"
          content="New data available"
        }}
      {{/if}}
      
      Data Package: 
      
      <div class="detail">
        {{#ui-dropdown 
          selected=analysis.dataVersion
          class="public-schools-data-dropdown"
        }}
          <div class="text"></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div 
              data-value="november-2017"
              class="item"
              onClick={{action "changeDataVersion" "november-2017"}}
            >
              November 2017 (old mutipliers)
            </div>
            <div 
              data-value="november-2018"
              class="item"
              onClick={{action "changeDataVersion" "november-2018"}}
            >
              November 2018
            </div>
            <div 
              data-value="may-2019"
              class="item"
              onClick={{action "changeDataVersion" "may-2019"}}
            >
              May 2019
            </div>
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
  {{/if}}

  <div class="ui {{if dataOutdated "orange" "grey"}} medium label">
    Schools Multipliers:
    <div class="detail">{{humanize analysis.multiplierVersion}}</div>
  </div>
</div>