<td>&nbsp;&nbsp;&nbsp;{{this.title}}</td>
{{#each this.allModalSplitData as |modalSplit|}}
  <td>{{get-split-value modalSplit this.variables.firstObject true}}</td>
  <td>
    {{#if noPercent}}
      -
    {{else}}
      {{get-split-percent modalSplit this.variables}}
    {{/if}}
  </td>
{{/each}}
<td>{{get-aggregate-value this.allModalSplitData this.variables}}</td>
<td>
  {{#if noPercent}}
    -
  {{else}}
    {{get-aggregate-percent this.allModalSplitData this.variables}}
  {{/if}}
</td>
