<div class="row">
  <div class="sixteen wide column">
    <div class="ui top clearing segment">
      <div class="ui secondary menu">
        <a
          class="item {{unless this.isRJTW "active"}}"
          data-test-censustracts-table-isrjtw="false"
          {{action (mut this.isRJTW) false}}
        >
          Residential
        </a>
        <a
          class="item {{if this.isRJTW "active"}}"
          data-test-censustracts-table-isrjtw="true"
          {{action (mut this.isRJTW) true}}
        >
          Offices
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::TripGenerationTables::ModalSplitsVehicleOccupancy
      @analysis={{this.model.transportationAnalysis}}
      @selectedCensusTractData={{await this.selectedCensusTractData}}
      @modeLookup={{this.modeLookup}}
      @commuterModes={{this.commuterModes}}
    />
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::TripGenerationTables::TripGenerationRates
      @analysis={{this.model.transportationAnalysis}}
    />
  </div>
</div>
{{!-- <div class="row">
  <div class="sixteen wide column">
    Trip Generation Results Table
    <Transportation::TripGeneration::TripGenerationResultsTable
      @analysis={{model.transportationAnalysis}}
    />
  </div>
</div>
 --}}