<div class="ui card">
  <div class="content">
    <div class="header">
      {{feature.properties.boroname}}
    </div>
    <div class="meta">
      <span>
        Census Tract ID:
        {{feature.properties.geoid}}
      </span>
    </div>
    <div class="description">
      <Transportation::StudyAreaMap::CensusTractData
        @geoid={{feature.properties.geoid}} as |censusData|
      >
        <censusData.loading>
          <i class="spinner icon"></i>
        </censusData.loading>

        <censusData.loaded as |data|>
          <div class="header">
            {{data.count}}
          </div>
          <div class="meta">
            <span>
              2 days ago
            </span>
            <a>
              {{data.mode}}
            </a>
          </div>
          <p></p>
        </censusData.loaded>
      </Transportation::StudyAreaMap::CensusTractData>
    </div>
  </div>
</div>
