<div class="row">
  <div class="one wide column">
    <i class="ui huge {{if this.model.transportationAnalysis.detailedAnalysis "yellow exclamation circle" "green check"}} icon"></i>
  </div>
  <div class="fifteen wide column" style="margin-top: 1em;">    
    <h2>
      {{#if this.model.transportationAnalysis.detailedAnalysis}}
        TDF Memo Required
      {{else}}
        TDF Memo Not Required
      {{/if}}
    </h2>

    <LinkTo
      @route="data.transportation-trip-generation"
      class="ui right floated button primary"
    >
      <i class="download icon"></i>
      Trip Generation Data
      <br>
      for additional land uses
    </LinkTo>

    {{#if this.model.transportationAnalysis.detailedAnalysis}}
      <p>Verify the numbers below before you set your Planning Factors.</p>

      <LinkTo
        @route="project.show.transportation.tdf.planning-factors"
        @model={{this.model.project.id}}
        class="ui primary button"
      >
        Planning Factors <i class="ui icon caret right"></i>
      </LinkTo>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="sixteen wide column">
    <div
      class="ui
        {{if this.model.transportationAnalysis.detailedAnalysis "yellow" "grey"}}
         segment"
    >
      <h3>
        Does this project require a preliminary trip generation analysis?
        <div
          class="ui big horizontal label
            {{if this.model.transportationAnalysis.detailedAnalysis "yellow" "grey"
            }}"
          data-test-transportation-detailed-analysis-answer
        >
          {{if this.model.transportationAnalysis.detailedAnalysis "Yes" "No"}}
        </div>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::ThresholdCalculation
      @analysis={{this.model.transportationAnalysis}}
     />

  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <Transportation::TrafficZoneThresholds
      @analysis={{this.model.transportationAnalysis}}
      @project={{this.model.project}}
     />

  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <LinkTo
      @route="project.show.transportation.tdf.planning-factors"
      @model={{this.model.project.id}}
      class="ui primary massive button"
    >
      Next <i class="ui icon caret right"></i>
    </LinkTo>
  </div>
</div>
