<div class="ui tiny steps">
  <LinkTo
    @route={{"project.show.transportation.analysis-threshold"}}
    @model={{this.project.id}}
    class="step"
  >
    <div class="content">
      <div class="title">
        Analysis Threshold
      </div>
      <div class="description">
        Need for detailed analysis
      </div>
    </div>
  </LinkTo>
  <LinkTo
    @route={{"project.show.transportation.tdf.planning-factors"}}
    @model={{this.project.id}}
    class="step"
    data-test-transportation-step="planning-factors"
  >
    <div class="content">
      <div class="title">
        Planning Factors
      </div>
    </div>
  </LinkTo>

  <LinkTo
    @route={{"project.show.transportation.tdf.trip-results"}}
    @model={{this.project.id}}
    class="step"
    data-test-transportation-step="trip-results"
  >
    <div class="content">
      <div class="title">
        Trip Results
      </div>
    </div>
  </LinkTo>
</div>
