<div class="transpo-factors-bar">
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui two item menu">
        {{#each model.transportationPlanningFactors as |factor|}}
          <LinkTo @route={{factorLink}} @model={{factor.id}} class="item">
            <span data-test-land-use-tab={{factor.landUse}}>{{humanize factor.landUse}}</span>
            <div class="ui horizontal label">
              {{pluralize (format-number factor.units) factor.unitName}}
            </div>
          </LinkTo>
        {{/each}}
      </div>
    </div>

    {{#if (eq tdfSection "planning-factors")}}
      <div class="four wide column middle aligned">
        <div class="fluid ui positive button" data-test-button="saveFactors" onClick={{action saveFactors}}>
          Save
        </div>
      </div>
      <div class="four wide column middle aligned">
        <LinkTo @route="project.show.transportation.tdf.trip-results" @model={{model.project.id}} class="fluid ui primary button">
          Next
        </LinkTo>
      </div>
    {{else}}
      <div class="four wide column middle aligned">
        <LinkTo @route="project.show" @model={{model.project.id}} class="fluid ui positive button">
        Save & Return to Dashboard
        </LinkTo>
      </div>
    {{/if}}
  </div>
</div>
