<table class="ui celled table">
  <thead>
    <th class="seven wide">
      Land Use
    </th>
    <th class="three wide">
      For Analysis
    </th>
    <th class="three wide">
      Zone
      {{analysis.trafficZone}}
      Threshold
    </th>
    <th class="three wide">
      Ratio
    </th>
  </thead>
  <tbody>
    {{#if analysis.residentialUnitsRatio}}
      <tr>
        <td>
          Residential
        </td>
        <td>
          {{analysis.residentialUnits}}
          units
        </td>
        <td data-test-residential-threshold>
          {{residentialThreshold}}
          units
        </td>
        <td>
          {{round analysis.residentialUnitsRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.officeSqFtRatio}}
      <tr>
        <td>
          Office
        </td>
        <td>
          {{analysis.officeSqFt}}
          gsf
        </td>
        <td data-test-office-threshold>
          {{officeThreshold}}
          gsf
        </td>
        <td>
          {{round analysis.officeSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.regionalRetailSqFtRatio}}
      <tr>
        <td>
          Regional Retail
        </td>
        <td>
          {{analysis.regionalRetailSqFt}}
          gsf
        </td>
        <td data-test-regional-retail-threshold>
          {{regionalRetailThreshold}}
          gsf
        </td>
        <td>
          {{round analysis.regionalRetailSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.localRetailSqFtRatio}}
      <tr>
        <td>
          Local Retail
        </td>
        <td>
          {{analysis.localRetailSqFt}}
          gsf
        </td>
        <td data-test-local-retail-threshold>
          {{localRetailThreshold}}
          gsf
        </td>
        <td>
          {{round analysis.localRetailSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.restaurantSqFtRatio}}
      <tr>
        <td class={{if analysis.hasFastFood "warning"}}>
          {{#if analysis.hasFastFood}}
            <UiPopup
              @title="Triggers Further Analysis"
              @content="Fast Food restaurant land use always triggers a preliminary trip generation analysis"
            >
              Restaurant
              <i class="yellow attention icon"></i>
            </UiPopup>
          {{else}}
            Restaurant
          {{/if}}
        </td>
        <td>
          {{analysis.restaurantSqFt}}
          gsf
        </td>
        <td data-test-restaurant-threshold>
          {{restaurantThreshold}}
          gsf
        </td>
        <td>
          {{round analysis.restaurantSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.communityFacilitySqFtRatio}}
      <tr>
        <td class={{if analysis.hasCommunityFacility "warning"}}>
          {{#if analysis.hasCommunityFacility}}
            <UiPopup
              @title="Triggers Further Analysis"
              @content="Community Facility land use always triggers a preliminary trip generation analysis"
            >
              Community Facilities
              <i class="yellow attention icon"></i>
            </UiPopup>
          {{else}}
            Community Facilities
          {{/if}}
        </td>
        <td>
          {{analysis.communityFacilitySqFt}}
          gsf
        </td>
        <td data-test-community-facility-threshold>
          {{communityFacilityThreshold}}
          gsf
        </td>
        <td>
          {{round analysis.communityFacilitySqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if analysis.offStreetParkingSpacesRatio}}
      <tr>
        <td>
          Off-Street Parking Facilities
        </td>
        <td>
          {{analysis.offStreetParkingSpaces}}
          spaces
        </td>
        <td data-test-off-street-parking-threshold>
          {{offStreetParkingThreshold}}
          spaces
        </td>
        <td>
          {{round analysis.offStreetParkingSpacesRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
  </tbody>
  <tfoot>
    <th colspan="3">
      Sum of Ratios
    </th>
    <th class={{if analysis.sumOfRatiosOver1 "warning"}}>
      {{!-- 
        TODO: Address issue #619:
        https://github.com/NYCPlanning/ceqr-app/issues/619
        When the SumOfRatios is barely over 1, the user interface should clarify
        the difference instead of displaying the value rounded to 1 without
        explanation. Perhaps there should also be a test here that checks for some
        clarification in the UI.>
      --}}
      {{#if analysis.sumOfRatiosOver1}}
        <UiPopup
          @title="Triggers Further Analysis"
          @content={{detailedAnalysisPopupText}}
          data-test-popup="detailed analysis"
        >
          {{round analysis.sumOfRatios decimals=2}}
          <i class="yellow attention icon"></i>
        </UiPopup>
      {{else}}
        {{round analysis.sumOfRatios decimals=2}}
      {{/if}}
    </th>
  </tfoot>
</table>
