<table class="ui celled table">
  <thead>
    <th class="seven wide">
      Land Use
    </th>
    <th class="three wide">
      For Analysis
    </th>
    <th class="three wide">
      Zone
      {{this.analysis.trafficZone}}
      Threshold
    </th>
    <th class="three wide">
      Ratio
    </th>
  </thead>
  <tbody>
    {{#if this.analysis.residentialUnitsRatio}}
      <tr>
        <td>
          Residential
        </td>
        <td>
          {{this.analysis.residentialUnits}}
          units
        </td>
        <td data-test-residential-threshold>
          {{this.residentialThreshold}}
          units
        </td>
        <td>
          {{round this.analysis.residentialUnitsRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.officeSqFtRatio}}
      <tr>
        <td>
          Office
        </td>
        <td>
          {{this.analysis.officeSqFt}}
          gsf
        </td>
        <td data-test-office-threshold>
          {{this.officeThreshold}}
          gsf
        </td>
        <td>
          {{round this.analysis.officeSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.regionalRetailSqFtRatio}}
      <tr>
        <td>
          Regional Retail
        </td>
        <td>
          {{this.analysis.regionalRetailSqFt}}
          gsf
        </td>
        <td data-test-regional-retail-threshold>
          {{this.regionalRetailThreshold}}
          gsf
        </td>
        <td>
          {{round this.analysis.regionalRetailSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.localRetailSqFtRatio}}
      <tr>
        <td>
          Local Retail
        </td>
        <td>
          {{this.analysis.localRetailSqFt}}
          gsf
        </td>
        <td data-test-local-retail-threshold>
          {{this.localRetailThreshold}}
          gsf
        </td>
        <td>
          {{round this.analysis.localRetailSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.restaurantSqFtRatio}}
      <tr>
        <td class={{if this.analysis.hasFastFood "warning"}}>
          {{#if this.analysis.hasFastFood}}
            <UiPopup
              @title="Triggers Further Analysis"
              @content="Fast Food restaurant land use always triggers a preliminary trip generation analysis"
            >
              Restaurant
              <i class="yellow attention icon"></i>
            </UiPopup>
          {{else}}
            Restaurant
          {{/if}}
        </td>
        <td>
          {{this.analysis.restaurantSqFt}}
          gsf
        </td>
        <td data-test-restaurant-threshold>
          {{this.restaurantThreshold}}
          gsf
        </td>
        <td>
          {{round this.analysis.restaurantSqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.communityFacilitySqFtRatio}}
      <tr>
        <td>
          Community Facilities
        </td>
        <td>
          {{this.analysis.communityFacilitySqFt}}
          gsf
        </td>
        <td data-test-community-facility-threshold>
          {{this.communityFacilityThreshold}}
          gsf
        </td>
        <td>
          {{round this.analysis.communityFacilitySqFtRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
    {{#if this.analysis.offStreetParkingSpacesRatio}}
      <tr>
        <td>
          Off-Street Parking Facilities
        </td>
        <td>
          {{this.analysis.offStreetParkingSpaces}}
          spaces
        </td>
        <td data-test-off-street-parking-threshold>
          {{this.offStreetParkingThreshold}}
          spaces
        </td>
        <td>
          {{round this.analysis.offStreetParkingSpacesRatio decimals=2}}
        </td>
      </tr>
    {{/if}}
  </tbody>
  <tfoot>
    <th colspan="3">
      Sum of Ratios
    </th>
    <th class={{if this.analysis.sumOfRatiosOver1 "warning"}}>
      {{!-- 
        TODO: Address issue #619:
        https://github.com/NYCPlanning/ceqr-app/issues/619
        When the SumOfRatios is barely over 1, the user interface should clarify
        the difference instead of displaying the value rounded to 1 without
        explanation. Perhaps there should also be a test here that checks for some
        clarification in the UI.>
      --}}
      {{#if this.analysis.sumOfRatiosOver1}}
        <UiPopup
          @title="Triggers Further Analysis"
          @content={{this.detailedAnalysisPopupText}}
          data-test-popup="detailed analysis"
        >
          {{round this.analysis.sumOfRatios decimals=2}}
          <i class="yellow attention icon"></i>
        </UiPopup>
      {{else}}
        {{round this.analysis.sumOfRatios decimals=2}}
      {{/if}}
    </th>
  </tfoot>
</table>
