<this.maintenance-notice/>
<div class="ui grid container">
  <div class="ten wide centered column">
    <h2 class="ui blue header">
      <div class="content">
        Log in to CEQR App
      </div>
    </h2>
    <div class="row">
      {{#each this.flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} as |component flash|>
          <div class="ui {{lowercase component.flashType}} message">
            <p>
              {{flash.message}}
            </p>
          </div>
        </FlashMessage>
      {{/each}}
    </div>
    <div class="ui placeholder segment">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <form
            class="ui form {{if this.error "error"}}"
            {{action "logIn" this.login on="submit"}}
          >
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <Input
                  aria-label="email"
                  @type="text"
                  name="email"
                  @value={{this.login.email}}
                  placeholder="Email"
                  data-test-login-form="email"
                /> 
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <Input
                  aria-label="password"
                  @type="password"
                  name="password"
                  @value={{this.login.password}}
                  placeholder="Password"
                  data-test-login-form="password"
                /> 
              </div>
            </div>
            <button
              type="submit"
              class="ui blue submit button"
              data-test-login-form="login"
            >
              Login
            </button>
            <LinkTo @route="request-password-reset">
              Forgot your password?
            </LinkTo>
            <div class="ui left error message">
              <div class="header">
                Error
              </div>
              <p>
                {{this.error.message}}
              </p>
            </div>
          </form>
        </div>
        <div class="middle aligned center aligned column">
          <LinkTo @route="signup" class="ui big button">
            <i class="signup icon"></i>Sign Up
          </LinkTo>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
    </div>
  </div>
</div>
