<div class="ui top attached clearing segment">
  <LinkTo @route="project.show" @model={{project.id}} class="ui left floated project title">
    <h1>
      {{project.name}}
    </h1>
  </LinkTo>
  <div class="ui right floated horizontal list">
    <div class="item">
      {{#if project.ceqrNumber}}
        <div class="ui label large">
          CEQR #
          <div class="detail">
            {{project.ceqrNumber}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="item">
      <div class="ui label large">
        {{project.borough}}
      </div>
    </div>
    <div class="item">
      <div
        class="ui label large"
        data-tooltip="Build Year"
        data-position="bottom center"
        data-inverted
      >
        <i class="calendar alternate icon"></i>
        {{project.buildYear}}
      </div>
    </div>
    {{#unless project.viewOnly}}
      <div class="item">
        <LinkTo @route="project.show.edit" @model={{project.id}} class="ui primary compact basic icon button">
          <i class="edit icon"></i>Edit
        </LinkTo>
      </div>
    {{/unless}}
  </div>
</div>
<div class="ui bottom attached clearing segment">
  <div style="float: left">
    <Project::ChapterDropdown @project={{project}} />
  </div>
  {{#if onPublicSchools}}
    <div class="ui right floated buttons">
      {{#unless project.viewOnly}}
        <LinkTo @route="project.show.public-schools" @model={{project.id}} class={{if onSummary "ui right basic teal compact icon button" "ui right teal compact icon button"}}>
          <i class="calculator icon"></i>Workbook
        </LinkTo>
      {{/unless}}
      <LinkTo @route="project.show.public-schools.summary" @model={{project.id}} class={{if onSummary "ui right teal compact icon button" "ui right basic teal compact icon button"}}>
        <i class="columns icon"></i>Summary
      </LinkTo>
    </div>
  {{/if}}
</div>