<div class="ui grey segment">
  <form class="ui form">
    <div class="field">
      <div class="two fields">
        <div class="twelve wide required field">
          <label>
            Project Name
          </label>
          {{input
            type="text"
            name="name"
            value=this.project.name
            placeholder="Project Name"
            data-test-new-project="project-name"
          }}
        </div>
        <div class="four wide required field">
          <label>
            Est. Build Year
          </label>
          <UiDropdown
            class="selection"
            @selected={{this.project.buildYear}}
            @onChange={{action (mut this.project.buildYear)}}
            data-test-new-project="build-year"
          >
            <div class="default text">
              Build Year
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.buildYearRange as |year|}}
                <div
                  data-value={{year}}
                  class="item"
                  data-test-new-project={{year}}
                >
                  {{year}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="six wide field">
          <label>
            CEQR Number
          </label>
          {{input
            type="text"
            name="ceqrNumber"
            value=this.project.ceqrNumber
            placeholder="CEQR Number"
            data-test-new-project="ceqr-number"
          }}
        </div>
      </div>
    </div>
  </form>
</div>
<Project::AnalysisFramework @project={{this.project}} @mapplutoVersions={{this.mapplutoVersions}} />
{{#if this.project.isInvalid}}
  <div class="ui error message">
    <ul class="list">
      {{#each this.project.errors as |errorSet|}}
        {{#each errorSet.validation as |error|}}
          <li>
            {{error}}
          </li>
        {{/each}}
      {{/each}}
    </ul>
  </div>
{{/if}}
<div class="ui basic segment">
  {{#if this.project.isNew}}
    <div class="sixteen wide column">
      <button
        data-test-create-project
        class="ui primary button
          {{if this.projectOrchestrator.projectTask.isRunning "loading"}}" type="button" {{action "saveProject"}}
      >
        Create Project
        <i class="arrow right icon"></i>
      </button>
    </div>
  {{else}}
    <div class="sixteen wide column">
      <button class="ui button" type="button" {{action "back"}}>
        Back
      </button>
      <button 
        class="ui primary button
          {{if this.projectOrchestrator.projectTask.isRunning "loading"}}" type="button" {{action "saveProject"}}>
        Save Project
        <i class="arrow right icon"></i>
      </button>
    </div>
  {{/if}}
</div>
