<div class="ui blue top attached segment">
  <h3 class="ui header">
    <i class="circular small users icon"></i>
    <div class="content">
      Users
    </div>
  </h3>
  <h4 class="ui top attached header">
    Editors
  </h4>
  <div class="ui bottom attached segment">
    <div class="ui divided list">
      <div class="item">
        <div class="middle aligned content">
          {{this.currentUser.user.email}}
          <div class="right floated content">
            (you)
          </div>
        </div>
      </div>
      {{#each this.projectEditors as |user|}}
        <div class="item">
          <div class="middle aligned content">
            {{user.email}}
            <div class="right floated content">
              <div class="ui dropdown icon item user-edit">
                <i class="cog icon"></i>
                <div class="menu">
                  <div
                    class="item"
                    onclick={{action "changeAccess" user "viewer"}}
                  >
                    Make Viewer
                  </div>
                  <div class="item" onclick={{action "removeUser" user}}>
                    Remove
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <h4 class="ui top attached header">
    Viewers
  </h4>
  <div class="ui bottom attached segment">
    {{#if this.projectViewers}}
      <div class="ui divided list">
        {{#each this.projectViewers as |user|}}
          <div class="item">
            <div class="middle aligned content">
              {{user.email}}
              <div class="right floated content">
                <div class="ui dropdown icon item user-edit">
                  <i class="cog icon"></i>
                  <div class="menu">
                    <div
                      class="yellow item"
                      onclick={{action "changeAccess" user "editor"}}
                    >
                      Make Editor
                    </div>
                    <div class="red item" onclick={{action "removeUser" user}}>
                      Remove
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      No user is assigned as a viewer of this project.
    {{/if}}
  </div>
</div>
<div class="ui bottom attached segment">
  <form class="ui form" {{action "addUser" on="submit"}}>
    <div class="field">
      {{input type="text" name="email" value=this.email placeholder="Email"}}
    </div>
    <div class="two fields">
      <div class="field">
        <UiDropdown
          class="selection"
          @selected={{this.permission}}
          @onChange={{action (mut this.permission)}}
        >
          <div class="default text">
            Access Level
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div data-value="editor" class="item">
              Editor
            </div>
            <div data-value="viewer" class="item">
              Viewer
            </div>
          </div>
        </UiDropdown>
      </div>
      <div class="field">
        <button class="ui blue button" type="submit">
          Add
        </button>
      </div>
    </div>
  </form>
  {{#if this.error}}
    <div class="ui error message">
      {{this.error.message}}
    </div>
  {{/if}}
</div>