<table class="ui collapsing celled table">
  <thead>
    <tr>
      <th class="two wide"></th>
      <th class="two wide">
        Units for analysis
      </th>
      <th class="two wide">
        Public school students per unit
      </th>
      <th class="three wide" colspan="2">
        Est. # of students
        <br>
        from analysis
      </th>
      <th class="three wide">
        Threshold for triggering detailed analysis
      </th>
      <th>
        Triggers detailed analysis
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Elementary
      </td>
      <TdHover @rowspan="3" @payload={{hash name="housingFromDev"}}>
        {{this.analysis.netUnits}}
      </TdHover>
      <td class="math--left">
        <i class="times circle icon"></i>
        {{round this.analysis.currentMultiplier.ps decimals=2}}
      </td>
      <td>
        {{this.analysis.estEsStudents}}
      </td>
      <td class={{if this.analysis.esEffect "warning"}} rowspan="2">
        {{#if this.analysis.esEffect}}
          <UiPopup
            @title="Triggers a Detailed Analysis"
            @content={{this.esMsEffectPopupText}}
          >
            {{this.analysis.estEsMsStudents}}
            <i class="attention icon"></i>
          </UiPopup>
        {{else}}
          {{this.analysis.estEsMsStudents}}
        {{/if}}
      </td>
      <td rowspan="2">
        {{this.analysis.multipliers.thresholdPsIsStudents}}
      </td>
      <td rowspan="2">
        <div
          style="display: inline-block;"
          class="ui medium label {{if this.analysis.esEffect "yellow" "grey"}}"
        >
          {{if this.analysis.esEffect "Yes" "No"}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Middle School
      </td>
      <td class="math--left">
        <i class="times circle icon"></i>
        {{round this.analysis.currentMultiplier.is decimals=2}}
      </td>
      <td>
        {{this.analysis.estIsStudents}}
      </td>
    </tr>
    <tr>
      <td>
        High School
      </td>
      <td class="math--left">
        <i class="times circle icon"></i>
        {{this.analysis.currentMultiplier.hs}}
      </td>
      <td class={{if this.analysis.hsEffect "warning"}} colspan="2">
        {{#if this.analysis.hsEffect}}
          <UiPopup
            @title="Triggers a Detailed Analysis"
            @content={{this.hsEffectPopupText}}
          >
            {{this.analysis.estHsStudents}}
            <i class="attention icon"></i>
          </UiPopup>
        {{else}}
          {{this.analysis.estHsStudents}}
        {{/if}}
      </td>
      <td>
        {{this.analysis.multipliers.thresholdHsStudents}}
      </td>
      <td>
        <div
          style="display: inline-block;"
          class="ui medium label {{if this.analysis.hsEffect "yellow" "grey"}}"
        >
          {{if this.analysis.hsEffect "Yes" "No"}}
        </div>
      </td>
    </tr>
  </tbody>
</table>