<div class="census-tract-popup ui card">
  <div class="content">
    <div class="header">
      {{this.feature.properties.boroname}}
    </div>
    <div class="meta">
      <span>
        Census Tract ID:
        {{this.feature.properties.geoid}}
      </span>
    </div>
    <div class="description">
      <Transportation::Tdf::ModalSplits::CensusTractsMap::CensusTractPopup::Data
        @geoid={{this.feature.properties.geoid}} as |censusData|
      >
        <censusData.loading>
          <i class="spinner icon"></i>
        </censusData.loading>

        <censusData.loaded as |data|>
          <Transportation::Tdf::ModalSplits::CensusTractsMap::CensusTractPopup::ModalSplitFormatter
            @acsData={{get data 0}}
            @ctppData={{get data 1}}
          />
        </censusData.loaded>
      </Transportation::Tdf::ModalSplits::CensusTractsMap::CensusTractPopup::Data>
    </div>
  </div>
</div>
