<div class="row">
  <div class="column">
    <div class="ui link cards">
      <LinkTo @route="project.show.community-facilities" class="ui card">
        <div class="content">
          <div class="header">
            <i class="university icon"></i>
            Community Facilities
          </div>
          <div class="ui top right attached label">
            Beta
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                this.model.project.communityFacilitiesAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if
              this.model.project.communityFacilitiesAnalysis.detailedAnalysis
              "Yes"
              "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if this.model.project.communityFacilitiesAnalysis.isPending "active"}}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      </LinkTo>

      <LinkTo @route="project.show.public-schools" class="ui card">
        <div class="content">
          <div class="header">
            <i class="graduation cap icon"></i>
            Public Schools
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                this.model.project.publicSchoolsAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if this.model.project.publicSchoolsAnalysis.detailedAnalysis "Yes" "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if
              (or
                this.model.project.publicSchoolsAnalysis.isPending
                this.public-schools.fullReload.isRunning
                this.public-schools.initialLoad.isRunning
              )
              "active"
            }}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      </LinkTo>

      <LinkTo @route="project.show.transportation" class="ui card" data-test-chapter="transportation">
        <div class="content">
          <div class="header">
            <i class="car icon"></i>
            Transportation
          </div>
          <div class="ui top right attached label">
            Beta
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                this.model.project.transportationAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if
              this.model.project.transportationAnalysis.detailedAnalysis
              "Yes"
              "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if this.model.project.transportationAnalysis.isPending "active"}}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      </LinkTo>

      <LinkTo @route="data.air-quality" class="ui card" data-test-chapter="air-quality">
        <div class="content">
          <div class="header">
            <i class="industry icon"></i>
            Air Quality Data
          </div>
        </div>
        <div class="extra content">
          Light Industrial, Large, and Major Source
        </div>
      </LinkTo>
    </div>
  </div>
</div>
