<div class="row">
  <div class="column">
    <div class="ui link cards">
      {{#link-to "project.show.community-facilities" class="ui card"}}
        <div class="content">
          <div class="header">
            <i class="university icon"></i>
            Community Facilities
          </div>
          <div class="ui top right attached label">
            Beta
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                model.project.communityFacilitiesAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if
              model.project.communityFacilitiesAnalysis.detailedAnalysis
              "Yes"
              "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if model.project.communityFacilitiesAnalysis.isPending "active"}}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      {{/link-to}}
      {{#link-to "project.show.public-schools" class="ui card"}}
        <div class="content">
          <div class="header">
            <i class="graduation cap icon"></i>
            Public Schools
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                model.project.publicSchoolsAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if model.project.publicSchoolsAnalysis.detailedAnalysis "Yes" "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if
              (or
                model.project.publicSchoolsAnalysis.isPending
                public-schools.fullReload.isRunning
                public-schools.initialLoad.isRunning
              )
              "active"
            }}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      {{/link-to}}

      {{#link-to
        "project.show.transportation"
        class="ui card"
        data-test-chapter="transportation"
      }}
        <div class="content">
          <div class="header">
            <i class="car icon"></i>
            Transportation
          </div>
          <div class="ui top right attached label">
            Beta
          </div>
        </div>
        <div class="extra content">
          Detailed Analysis
          <div
            style="display: inline-block;"
            class="ui small label
              {{if
                model.project.transportationAnalysis.detailedAnalysis
                "yellow"
                "grey"
              }}"
          >
            {{if
              model.project.transportationAnalysis.detailedAnalysis
              "Yes"
              "No"
            }}
          </div>
        </div>
        <div
          class="ui inverted dimmer
            {{if model.project.transportationAnalysis.isPending "active"}}"
        >
          <div class="ui text loader">
            Loading
          </div>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>