{{! Shares the controller context from 'project' }}
{{title "[Public Schools]" prepend=false}}
<div class="row">
  <div class="eight wide column" style="z-index: 1">
    <PublicSchools::VersionSelector
      @analysis={{model.publicSchoolsAnalysis}}
      @project={{model.project}}
      @availablePackages={{model.availablePackages}}
    />
  </div>
  <div class="eight wide column right aligned">
    <div class="ui medium label">
      Schools Multipliers:
      <div class="detail">
        {{humanize model.publicSchoolsAnalysis.multiplierVersion}}
      </div>
    </div>
  </div>
</div>

{{#if showAnalysisSteps}}
  <div class="row">
    <div class="sixteen wide column">
      <PublicSchools::AnalysisSteps @project={{model.project}} />
    </div>

    <div
      class="ui inverted dimmer
        {{if project-orchestrator.projectTask.isRunning "active"}}"
    >
      <div class="ui text loader">
        Loading
      </div>
    </div>
  </div>
{{/if}}

{{#if (and showMap project-orchestrator.projectTask.isIdle)}}
  <div class="row">
    <div class="sixteen wide column">
      {{#with model.publicSchoolsAnalysis.subdistrictsGeojson.subdistrictsGeojson as |subdistricts|}}
          <PublicSchools::ProjectMap
            @project={{model.project}}
            @analysis={{model.publicSchoolsAnalysis}}
            @subdistrictsGeojson={{subdistricts}}
          />
      {{/with}}
      {{#unless model.publicSchoolsAnalysis.subdistrictsGeojson.subdistrictsGeojson}}
          <div style="height: 100px; background-color: #CCE2FF">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Loading map of subdistricts... Please wait... </div>
            </div>
          </div>
      {{/unless}}
    </div>
  </div>
{{/if}}

{{#if project-orchestrator.projectTask.isIdle}}
  {{outlet}}
{{/if}}