{{title "[Public Schools]" prepend=false}}

<div class="row">
  <div class="sixteen wide column" style="z-index: 1">
   {{public-schools/version-selector analysis=model.publicSchoolsAnalysis project=project}}
  </div>
</div>

{{#if showAnalysisSteps}}
  <div class="row">
    <div class="sixteen wide column">
        {{public-schools/analysis-steps analysis=model.publicSchoolsAnalysis}}
    </div>

    <div class="ui inverted dimmer {{if public-schools.initialLoad.isRunning "active"}}">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
{{/if}}

{{#if (and showMap public-schools.initialLoad.isIdle)}}
  <div class="sixteen wide column">
    {{public-schools/project-map project=project analysis=model.publicSchoolsAnalysis}}
  </div>
{{/if}}

{{outlet}}