<Transportation::Tdf::TripGenerationRates @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::TemporalDistribution @factor={{model.transportationPlanningFactor}} />

<div class="row">
  <div class="sixteen wide column">
    <h3 class="ui header float left">Modal Splits</h3>
  </div>
</div>

<Transportation::Tdf::InOutSplits @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::VehicleOccupancy @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::TruckTripGenerationRates @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::TruckTemporalDistribution @factor={{model.transportationPlanningFactor}} />

<Transportation::Tdf::TruckDirectionalDistribution @factor={{model.transportationPlanningFactor}} />
