<table class="ui top attached celled table">
  <thead>
    <tr>
      <th class="two wide" rowspan="2">
        Borough
      </th>
      <th class="seven wide" colspan="2">
        Libraries
      </th>
      <th class="seven wide" colspan="2">
        Child Card
      </th>
    </tr>
    <tr>
      <th class="two wide">
        Total Units
      </th>
      <th class="five wide">
        Mininum Number of Units that Trigger Detailed Analysis
      </th>
      <th class="two wide">
        Total Affordable Units
        <UiPopup @content="at or below 80% AMI">
          <i class="attention icon"></i>
        </UiPopup>
      </th>
      <th class="five wide">
        Mininum Number of Affordable Units that Trigger Detailed Analysis
      </th>
    </tr>
  </thead>
  <tbody>
    <CommunityFacilities::TrThreshold
      @borough="Bronx"
      @analysis={{analysis}} 
    />

    <CommunityFacilities::TrThreshold
      @borough="Brooklyn"
      @analysis={{analysis}}
     />

    <CommunityFacilities::TrThreshold
      @borough="Manhattan"
      @analysis={{analysis}}
     />

    <CommunityFacilities::TrThreshold
      @borough="Queens"
      @analysis={{analysis}}
     />

    <CommunityFacilities::TrThreshold
      @borough="Staten Island"
      @analysis={{analysis}}
     />

  </tbody>
</table>
<div class="ui attached bottom icon message">
  <i class="database icon"></i>
  <div class="content">
    <div class="header">
      <a
        target="_blank"
        rel="noopener"
        href="https://www1.nyc.gov/assets/oec/technical-manual/06_Community_Facilities_2014.pdf"
      >
        CEQR Technical Manual Chapter 6: Community Facilities and Services
        <i class="file pdf icon"></i>
        <i class="external alternate icon"></i>
      </a>
    </div>
    <p>
      Thresholds defined in Table 6-1: CEQR Community Facility Treshold for Detailed Analysis
    </p>
  </div>
</div>