<td class={{if this.isProjectBorough "active"}}>
  {{this.borough}}
</td>
{{#if (eq this.borough "Bronx")}}
  <td rowspan="5">
    {{this.analysis.project.totalUnits}}
  </td>
{{/if}}
<td class={{this.libraryClass}}>
  {{#if this.libraryImpact}}
    <UiPopup
      @title="Triggers a Further Library Analysis"
      @content="The number of units in the project is greater then the threshold for Library analysis"
    >
      {{this.libraryThreshold}}
      <i class="yellow attention icon"></i>
    </UiPopup>
  {{else}}
    {{this.libraryThreshold}}
  {{/if}}
</td>
{{#if (eq this.borough "Bronx")}}
  <td rowspan="5">
    {{this.analysis.project.affordableUnits}}
  </td>
{{/if}}
<td class={{this.childCareClass}}>
  {{#if this.childCareImpact}}
    <UiPopup
      @title="Triggers a Further Child Care Analysis"
      @content="The number of units in the project is greater then the threshold for Child Care analysis"
    >
      {{this.childCareThreshold}}
      <i class="yellow attention icon"></i>
    </UiPopup>
  {{else}}
    {{this.childCareThreshold}}
  {{/if}}
</td>