<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px;">AM</h3>
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::PersonTrips
    @modes={{model.transportationPlanningFactor.activeModes}}
    @results={{model.transportationPlanningFactor.tripResults.personTrips.am}}
    @factor={{model.transportationPlanningFactor}}
  />
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::VehicleTrips
    @vehicleTrips={{model.transportationPlanningFactor.tripResults.vehicleTrips.am}}
  />
</div>

<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px;">Midday</h3>
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::PersonTrips
    @modes={{model.transportationPlanningFactor.activeModes}}
    @results={{model.transportationPlanningFactor.tripResults.personTrips.md}}
    @factor={{model.transportationPlanningFactor}}
  />
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::VehicleTrips
    @vehicleTrips={{model.transportationPlanningFactor.tripResults.vehicleTrips.md}}
  />
</div>

<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px;">PM</h3>
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::PersonTrips
    @modes={{model.transportationPlanningFactor.activeModes}}
    @results={{model.transportationPlanningFactor.tripResults.personTrips.pm}}
    @factor={{model.transportationPlanningFactor}}
  />
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::VehicleTrips
    @vehicleTrips={{model.transportationPlanningFactor.tripResults.vehicleTrips.pm}}
  />
</div>

<div class="sixteen wide column">
  <h3 class="ui header" style="margin-bottom: 10px;">Saturday</h3>
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::PersonTrips
    @modes={{model.transportationPlanningFactor.activeModes}}
    @results={{model.transportationPlanningFactor.tripResults.personTrips.saturday}}
    @factor={{model.transportationPlanningFactor}}
  />
</div>

<div class="eight wide column">
  <Transportation::Tdf::TripResults::VehicleTrips
    @vehicleTrips={{model.transportationPlanningFactor.tripResults.vehicleTrips.saturday}}
  />
</div>
