<div class="ui sixteen column grid">
  <div class="sixteen wide column">
    <div class="ui top clearing segment">
      <h4 class="ui left floated header">
        <div class="content">
          Modal Splits and Vehicle Occupancy
        </div>
      </h4>
    </div>
  </div>
  <div class="eight wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2" class="two wide">
            Modal Split
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.modalSplitVariablesSubset as |mode|}}
          <tr>
            <td>
              {{get this.modeLookup mode}}
            </td>
            <td>
              {{get-aggregate-percent this.selectedCensusTractData (array mode)}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="eight wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2" class="two wide">
            Vehicle Occupancy
          </th>
        </tr>
        <tr>
          <th class="one wide">
            Auto
          </th>
          <th class="taxi wide">
            Taxi
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              {{round this.vehicleOccupancy decimals=2}}
            </td>
            <td>
              <div class="ui input edit-cell">
                <Input {{!-- template-lint-disable "no-action" --}} aria-label="taxi vehicle occupancy" @type="number" min={{0}} @value={{this.analysis.taxiVehicleOccupancy}} {{on "change" (action "saveAnalysis")}} />
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>