<div class="ui top attached clearing segment">
  <h4 class="ui left floated header">
    <div class="content">
      Trip Generation Rates
    </div>
  </h4>
</div>
<table class="ui attached celled table">
  <thead>
    <tr>
      <th class="one wide">
        Residential Units
      </th>
      <th colspan="7" class="four wide">
        Person Trip
      </th>
    </tr>
    <tr>
      <th class="one wide">
      </th>
      <th colspan="2" class="one wide">
        Daily Trip Rate
      </th>
      <th class="one wide">
        Peak Hour
      </th>
      <th clas="one wide">
        Temporal
      </th>
      <th clas="three wide">
        In
      </th>
      <th clas="three wide">
        Out
      </th>
      <th clas="one wide">
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="6">
        {{analysis.residentialUnits}}<br>
        (DU)
      </td>
      <td rowspan="3">{{analysis.dailyTripRate.weekday.label}}</td>
      <td rowspan="3">{{analysis.dailyTripRate.weekday.rate}}</td>
      <td>{{analysis.temporalDistributions.am.label}}</td>
      <td>{{analysis.temporalDistributions.am.percent}}</td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.am.in}} @change={{action "setInOutDist" "am" "in"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.am.out}} @change={{action "setInOutDist" "am" "out"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>100%</td>
    </tr>
    <tr>
      <td>{{analysis.temporalDistributions.md.label}}</td>
      <td>{{analysis.temporalDistributions.md.percent}}</td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.md.in}} @change={{action "setInOutDist" "md" "in"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.md.out}} @change={{action "setInOutDist" "md" "out"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>100%</td>
    </tr>
    <tr>
      <td>{{analysis.temporalDistributions.pm.label}}</td>
      <td>{{analysis.temporalDistributions.pm.percent}}</td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.pm.in}} @change={{action "setInOutDist" "pm" "in"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.pm.out}} @change={{action "setInOutDist" "pm" "out"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>100%</td>
    </tr>
    <tr>
      <td>{{analysis.dailyTripRate.saturday.label}}</td>
      <td>{{analysis.dailyTripRate.saturday.rate}}</td>
      <td>{{analysis.temporalDistributions.saturday.label}}</td>
      <td>{{analysis.temporalDistributions.saturday.percent}}</td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.saturday.in}} @change={{action "setInOutDist" "saturday" "in"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>
        <div class="ui input fluid right labeled edit-cell">
          <Input @type="number" @min={{0}} @max={{100}} @value={{analysis.inOutDists.saturday.out}} @change={{action "setInOutDist" "saturday" "out"}} />
          <div class="ui basic label">
            %
          </div>
        </div>
      </td>
      <td>100%</td>
    </tr>
    <tr>
      <td></td>
      <td>&#47;DU</td>
      <td colspan="5"></td>
    </tr>
  </tbody>
</table>