{{top-bar projectId=model.project.projectId}}

<div class="ui column grid container site">
  <div class="sixteen wide column">
    <h2 class="ui dividing header">
      <div class="ui blue label">Step 1</div>
      Project Details & Preliminary Analysis
    </h2>
  </div>

  <div class="row">
    <div class="ten wide column">
      <div class="ui segment">
        <form class="ui form">
          <div class="field">
            <div class="three fields">
              <div class="nine wide field">
                <label>Address</label>
                {{input type="text" value=model.project.address placeholder="Address"}}
              </div>
              <div class="four wide field">
                <label>Borough</label>
                {{#ui-dropdown class="selection" onChange=(action (mut model.project.borough))}}
                  <div class="default text">Borough</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div data-value="Bronx" class="item">Bronx</div>
                    <div data-value="Brooklyn" class="item">Brooklyn</div>
                    <div data-value="Manhattan" class="item">Manhattan</div>
                    <div data-value="Queens" class="item">Queens</div>
                    <div data-value="Staten Island" class="item">Staten Island</div>
                  </div>
                {{/ui-dropdown}}
              </div>
              <div class="three wide field">
                <label>Est. Build Year</label>
                {{input type="text" value=model.project.yearBuilt placeholder="Year Built"}}
              </div>
            </div>
          </div>
        </form>

        {{bbl-list model=model.project}}
      </div>
    </div>

    <div class="six wide column">
      <h4>100. Definitions</h4>
      <p><em>PUBLIC SCHOOLS.</em> CEQR analyzes potential impacts only on public schools operated and funded by the New York City
      Department of Education. This analysis generally relates only to public elementary and intermediate schools, which serve a
      local population, and rarely to high schools, which have a borough-wide or citywide population base. Schools are analyzed based
      on the potential for the project to cause overcrowding (i.e., a shortage of seats for an age group within the district).</p>
    </div>
  </div>

  <div class="row">
    <div class="ten wide column">
      <div class="ui segment">
        <h3>Does the project cause a Direct Effect?</h3>
        <div class="ui two buttons">
          <div class="ui {{unless model.project.directEffect "basic"}} large primary button" {{action (mut model.project.directEffect) true}}>Yes</div>
          <div class="ui {{if (or model.project.directEffect (eq model.project.directEffect null)) "basic"}} large primary button" {{action (mut model.project.directEffect) false}}>No</div>
        </div>
      </div>
    </div>

    <div class="six wide column">
      <h4>210. Direct Effects</h4>
      <p>If a project would physically alter a community facility, whether by displacement of the facility or other physical
      change, this "direct" effect triggers the need to assess the service delivery of the facility and the potential effect
      that the physical change may have on that service delivery. Temporary direct effects should also be considered
      (for example, the temporary closing of a facility during a phase of construction).</p>
    </div>
  </div>

  <div class="row">
    <div class="ten wide column">
      <div class="ui segments">
        <div class="ui segment">
          {{total-unit-count model=model.project}}
        </div>

        <div class="ui segment">
          {{detailed-analysis-thresholds model=model.project}}
        </div>

        <div class="ui segment">
          <h3>Does the project cause a Indirect Effect?</h3>
          <div class="ui two buttons">
            <div class="ui {{unless model.project.indirectEffect "basic"}} large primary button">Yes</div>
            <div class="ui {{if (or model.project.indirectEffect (eq model.project.indirectEffect null)) "basic"}} large primary button">No</div>
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column">      
      <h4>220. Indirect Effects</h4>
      <p>Increased population in an area caused by a project would increase demand for existing services, which may result
      in potential "indirect" effects on service delivery. Depending on the size, income characteristics, and age distribution
      of the new population, there may be effects on public schools, libraries, or child care centers.
      In general, the following thresholds may be used to make an initial determination of whether detailed studies are
      necessary to determine potential indirect impacts. </p>
    </div>
  </div>

  <div class="sixteen wide column">
    <h2 class="ui dividing header">
      <div class="ui blue label">Step 2</div>
      Detailed Analysis
    </h2>
  </div>

  <div class="ui attached segment">
    <h4>221. Public Schools</h4>
    <p>Potential impacts on schools may result if there would be insufficient seats available to serve the population.
    Because it is rare that a project physically displaces an operating school, impacts are more likely to occur
    when a project introduces school-age children to an area.</p>

    <p>The basic analysis begins with a calculation of the additional school-age population that would be introduced
    by a project. Table 6-1 above calculates by borough the minimum number of residential units that could yield
    at least 50 elementary/intermediate school children, based on Table 6-1a. To estimate the student age population
    of a project, first determine the number of residential units of the project. Projects that would add residential
    units designed exclusively for seniors or single adults (HPD supportive housing) need not assess public
    school impacts. If appropriate, Table 6-1a should be used to estimate the number of elementary, middle, and
    high school students likely to be generated by the proposed project.</p>

    <p>In general, if a project would introduce more than 50 school-age children (elementary and intermediate
    school students), significant impacts on public schools may occur and further analysis of schools may be appropriate.
    Since high school-level students can usually elect to attend high schools outside their neighborhood,
    an analysis of high school impacts is rarely necessary. However, if the project would generate 150 or
    more high school students, there may be an impact on borough high schools, and further analysis may be appropriate.</p>
  </div>

  <h3 class="ui top attached header">
    <div class="ui blue label">Step 3</div>
    Detailed Analysis
  </h3>
  <div class="ui attached segment">
    <h4>300. Assessment Methods</h4>
    <p>If the preliminary analysis (Section 200) indicates that more detailed analyses are necessary for certain community facilities,
    the following approach may be used. This approach generally consists of delineating one or more study areas
    for the potentially affected community facilities, gathering information on current and future utilization levels and any
    plans for expansion, and, finally, assessing the potential impact of the project on community facilities.</p>
  </div>

  <div class="ui attached segment">
    {{study-area-map sources=model.sources project=model.project}}
  </div>
</div>